%h2
  = link_to 'â†', institutions_path if @institutions.size > 1
  = @institution.name

.row
  .col
    %label Get access through API token.
    %p= link_to 'Request API token', request_api_token_institution_path(@institution)
= render 'form'

