- unless @first_institution_creation
  - if @can_create
    = link_to "+", new_institution_path, class: 'btn-add side-link fix', title: 'Create Institution'
  - else
    %h1
      = link_to institutions_path, class: 'side-link', title: 'Back' do
        = image_tag "arrow-left.png"

= render 'form'

