%h2
  = link_to '←', institutions_path unless @first_institution_creation
  = @institution.name

.row
  .col
    %label Get access through API token.
    %p= link_to 'Request API token', request_api_token_institution_path(@institution)
= render 'form'

