%h1
  = link_to '←', institutions_path, class: 'side-link', title: 'Back' unless @first_institution_creation

.row
  .col
    %label.block Get access through API token.
    %p= link_to 'Request API token', request_api_token_institution_path(@institution)
= render 'form'

