- content_for(:leftcolumn) do
  .centered
    = link_to "+", new_institution_path, class: 'btn-add fixed', title: 'Add Institution'
.row.grid_sm
  .col
    %table.table
      %tr
        %th.tableheader{colspan:100} Institutions
      %tr
        %th Name
      - @institutions.each do |institution|
        %tr
          %td= link_to institution.name, institution

