.row.grid_sm
  .col
    %table.table
      %tr
        %th.tableheader{colspan:100} Institutions
      %tr
        %th Name
      - @institutions.each do |institution|
        %tr
          %td= link_to institution.name, edit_institution_path(institution)

