- content_for(:subheader) do
  .row.center.add-new
    .col.pe-10
      .row
        .col
          %h2
            - unless current_user.institutions.count == 0
              = link_to institutions_path, class: 'side-link', title: 'Back' do
                = image_tag "arrow-left-white.png"
            New Institution

= render 'form'
