Access Token
%pre= @token

.warning
  Save this token. You can revoke it at
  = link_to Guisso.admin_tokens_url, Guisso.admin_tokens_url, target: '_blank'

%br
%br

= link_to 'Back', edit_institution_path(@institution), class: 'btn'
