- if has_access?(@institution, "cdpx:deleteInstitution")
  = link_to "Delete this institution", @institution, method: :delete, data: { confirm: "Are you sure you want to delete the institution '#{@institution.name}'" }
