- if has_access?(@institution, "cdpx:deleteInstitution")
  = icon_link_to :'icf-delete', "Delete this institution", @institution, method: :delete, data: { confirm: "Are you sure you want to delete the institution '#{@institution.name}'" }
