<html>
  <head>
    <title>{% block title %}DB Events!{% endblock %}</title>
  </head>
  <body>
    {% block body %}
      <ul>
        {% if events %}
          {% for event in events %}
            <li>{{ event.id }}
          {% endfor %}
        {% else %}
          <li>No events!
        {% endif %}
      </ul>
    <p><a href="{% url action="create" %}">New event...</a></p>
    <form method="post" action="{% url action="goodbye" %}">
      Delete:<select name="event_id">
        {% for event in events %}
          <option value="{{ event.id }}">{{ event.uuid }}
        {% endfor %}
      </select>
      <input type="submit">
    </form>
    {% endblock %}
  </body>
</html>

