.row.form-field{class: form.object.errors.has_key?(method) && "form-field--error" }
  .col.form-field__label
    - label_options = options[:label] || {}
    = form.label method, label_options[:text], label_options
  .col
    = yield
    = form.field_errors method, full_message: options[:full_message]
