- content_for(:subheader) do
  .row.center.filters
    .col.pe-10
      .row
        .col
          %h1
            - if @can_create
              = link_to "+", new_sample_path, class: 'btn-add side-link fix', title: 'Add sample/batch'
            Samples

      %form#filters-form{action: samples_path, "data-auto-submit" => true}
        %input{type: "hidden", name: "page_size", value: @page_size}
        .row
          .filter
            %label.block Sample ID
            %input.input-x-large{type: "text", name: "sample_id", value: params["sample_id"], placeholder: "Filter by Sample ID"}
          .filter
            %label.block Batch ID
            %input.input-x-large{type: "text", name: "batch_number", value: params["batch_number"], placeholder: "Filter by batch ID"}
          .filter
            %label.block Isolate Name
            %input.input-x-large{type: "text", name: "isolate_name", value: params["isolate_name"], placeholder: "Filter by isolate name"}
          .filter
            %label.block Specimen Role
            = cdx_select name: "specimen_role", value: params["specimen_role"] do |specimen_role|
              - specimen_role.item "", "All specimen roles"
              - specimen_role.items Sample.specimen_roles.map{|item| {id: item[:id], description: item[:description].truncate(30) }}, :id, :description
          .filter-group
            .filter
              %label.block Modified From
              %input.input-large{type: "date", name: "updated_at_from", value: params["updated_at_from"]}
            .filter
              %label.block Modified To
              %input.input-large{type: "date", name: "updated_at_to", value: params["updated_at_to"]}
