- content_for(:subheader) do
  .row.center.filters
    .col.pe-10
      .row
        .col
          %h1
            = link_to "+", new_sample_or_batch_batches_path, class: 'btn-add side-link fix', title: 'Add sample'
            Samples

      %form#filters-form{action: samples_path, "data-auto-submit" => true}
        %input{type: "hidden", name: "page_size", value: @page_size}
        .row
          .filter
            %label.block Sample Id
            %input.input-x-large{type: "text", name: "uuid", value: params["uuid"], placeholder: "Filter by sample Id"}
