:javascript
  (function() {
    var myDropzone = new Dropzone(".dropzone-field", { url: "/samples/testing", uploadMultiple: true, maxFilesize: 10485760, disablePreviews: true, createImageThumbnails: false });

    var onloadPicture = function(file) {
        return function(event) {
          debugger;
          // render Tooltip and Add-assays action
          updateAddAssaysControls();
        }
      }

    myDropzone.on("sending", function(file, xhr, formData) {
    // Will send the filesize along with the file as POST data.
      sample_id = $(".edit_sample")[0].id.split('_').pop()
      formData.append("id", sample_id);
    });

    myDropzone.on("successmultiple", function(files, response) {
      // Gets triggered when the files have successfully been sent.
      // Redirect user or notify of success.
      location.reload();
    });

    // Click on Add Assays
    $('.upload-picture').on('click', function(e) {
      e.preventDefault();
      createCard();
      updateAddAssaysControls();
    });

    updateAddAssaysControls();

    // Change the class on the target zone when dragging a file over it
    $(".remove > input[type='checkbox']").on('click', function(e) {
      var assayId = e.target.id.split('_').pop()
      var url = $("#remove_assay_attachments_url").val()
      $.ajax({
            method: "POST",
            url: url,
            data:  {assay_id: assayId} ,
            success: function(response) {
              console.log(response)
            }
          });
      $(this).closest('.file-uploaded').addClass('remove');
    });

  })();

  function removeFilesPreview() {
    // remove all new-files preview
    $('.new-file').remove();
  }

  function updateAddAssaysControls() {
    var assays = $('.assay-file');
    if (assays.length > 0) {
      $('.assay > .upload-new-file > .tooltip').addClass('nodisplay');
      $('#add-assays').removeClass('nodisplay');
    } else {
      $('.assay > .upload-new-file > .tooltip').removeClass('nodisplay');
      $('#add-assays').addClass('nodisplay');
    }
  }

  function createCard() {
    $('.assay > .upload-new-file').append(
        $('<div>')
          .append($('<div>', { class: 'card-container' })
            .append(createCardInfoColumn())
            .append(createDummyCardPictureColumn())
            .append(createCardDummyRemove())
          )
    );
  }

  function buildLoincCodeSelect(config) {
    var loincInput = (config && config.input) ? config.input : $('<input>', {type: 'text', class: 'loinc_input'});
    var loincInputHidden = (config && config.hidden) ? config.hidden : $('<input>', {type: 'hidden', name: `sample[new_assays_info][][loinc_code_id]`});

    loincInput.autocomplete({
      lookup: function (query, done) {
          $.ajax({
            url: '/loinc_codes/search',
            data: { q: query },
            success: function(loincCodes) {
              done({suggestions: loincCodes});
            }
          });
      },
      onSelect: function (suggestion) {
        loincInputHidden.val(suggestion.id)
      }
    });

    return $('<div>').append(loincInput).append(loincInputHidden)[0];
  }

  function createCardInfoColumn() {
   return $('<div>', { class: 'info' })
      .append($('<div>', { class: 'row' })
        .append($('<div>', { class: 'col pe-1' })
          .append($('<label>', { for: 'new_sample_assay_attachments_attributes', text: 'Loinc' })))
        .append($('<div>', { class: 'col pe-8' })
          .append(buildLoincCodeSelect()))
      )
      .append($('<div>', { class: 'row' })
        .append($('<div>', { class: 'col pe-1' })
          .append($('<label>', { for: 'new_sample_assay_attachments_attributes', text: 'Result' })))
        .append($('<div>', { class: 'col pe-8' })
          .append($('<input>', { type: 'text', class: 'result_input', name: `sample[new_assays_info][][result]` } )))
      )
  }

  function createDummyCardPictureColumn() {
    return $('<div>', { class: 'file' })
            .append(
              $('<div>', { class: 'picture-container assay-file'})
              .append(fileDummyThumbnail())
            )
  }

  function fileDummyThumbnail() {
    var fileInput = $('<input>', {type: 'file', class: 'upload-picture', multiple: true, id: 'sample_new_assays', name: 'sample[new_assays][]', value: null });
      return $('<div>', { class: 'any-filetype' })
        .append($('<div>', { class: 'icon-document'}))
        .append(fileInput);
  }

  function createCardDummyRemove() {
    return $('<div>', { class: 'remove' }).css('width', '34px');
  }
