:javascript
  (function() {
    dropzoneOptions = {
      paramName: "assay_files",
      autoProcessQueue: true,
      maxThumbnailFilesize: 20,
      parallelUploads: 10,
      url: '/assay_files/create',
      uploadMultiple: true,
      renameFile: function (file) {
        var completeFileName = file.name;
        var sanitizedName = completeFileName.replace(/[^\p{Letter}\p{Number}_.-]/gu, '_');
        var fileName = sanitizedName.split('.')[0];
        return sanitizedName.replace(fileName, fileName + Date.now());
      },
      sendingmultiple: function () {
        $('#btn-save').prop('disabled', true);
      },
      successmultiple: function(files, response) {
        // For each file uploaded successfuly
        // we replace the input (with value = filename)
        // with a new input-hidden with value = "the id returned by the server for that file"
        var assay_files = response.assay_files_data || {}
        Object.keys(assay_files).forEach(function(filename) {
          var fileInput = $( ".info input[value='" + filename + "']" )
          var arrayNewIndex = fileInput.closest('.card-container').find('input[name="arrayNewIndex"]').val() || ''
          fileInput.replaceWith($('<input>', {type: 'hidden', name: `sample[assay_attachments_attributes][${arrayNewIndex}][assay_file_id]`, value: assay_files[filename]}))
        })
        $('#btn-save').prop('disabled', false);
      },
      addedfile: function(file) {
        var cards = $('.updating');
        cards.removeClass('updating');

        if(cards.length > 1) {
          //this should not happen, but to be safe we clear it and do nothing
          // TODO: We should fix this because if the user clicks to add
          // a file to a new assay (created initially without a file) and then
          // cancel the file-selection, then the `.updating` class is not removed
          // and breaks the logic for updating a card
          return;
        }

        if (cards.length == 0) {
          createCard(file);
        }

        if(cards.length == 1) {
          updateCard(cards[0], file);
        }

        updateTooltipDisplayState();
      },
      thumbnail: function(file, url) {
        updateThumbnail(file, url)
      }
    }

    $('#dropzonePreview').dropzone(dropzoneOptions);

    $('.picture-container.picture-required').on('click', function() {
      $('.input-required').removeClass('input-required');
      $(this).closest('.file-uploaded').remove();
      $('#dropzonePreview').click()
    });

    $('.input-required').on('click', function() {
      $('.input-required').removeClass('input-required')
    });

    // Click on Add Assays
    $('#add-assays').on('click', function(e) {
      e.preventDefault();
      createCard()
      updateTooltipDisplayState()
    });

    // Change the class on the target zone when dragging a file over it
    $(".remove > input[type='checkbox']").on('click', function(e) {
      $(this).closest('.file-uploaded').addClass('remove');
    });

    $('.assay > .upload-new-file').on('scroll', function(e) {
      var scrollDiff = $(this).scrollTop();
      // move dropzone-input into view
      $('.upload-picture').css('top', scrollDiff);
    });

    // initial state for Tooltip
    updateTooltipDisplayState();

    // create loinc inputs
    $('.loinc_inputs').each(function(index, element){
      $(element).replaceWith(loincSelectorAt(
        $(element).find('.loinc_input'),
        $(element).find('.loinc_input_hidden')
      ));
    });

  })();

  document.addEventListener("dragenter", function( event ) {
    if ( event.target.className == "upload-picture" ) {
      $('.choose-picture').addClass('on');
    }

  }, false);

  document.addEventListener("dragleave", function( event ) {
    if ( event.target.className == "upload-picture" ) {
      $('.choose-picture').removeClass('on');
    }
  }, false);

  function updateTooltipDisplayState() {
    var assays = $('.card-container');
    if (assays.length > 0) {
      $('.assay > .upload-new-file > .tooltip').addClass('nodisplay');
    } else {
      $('.assay > .upload-new-file > .tooltip').removeClass('nodisplay');
    }
  }

  function createCard(file) {
    (new CardBuilder).createCardFor(file);
  }

  function updateCard(card, file) {
    (new CardUpdater(card)).updateCardWith(file);
  }

  function updateThumbnail(file, thumbnailUrl) {
    $("#" + file.upload.uuid + '-thumbnail')
      .replaceWith($('<img>', { class: 'image-thumbnail', src: thumbnailUrl }));
  }

  /////////////////////////////////////////////////////////////////////////////
  // CardBuilder

  var CardBuilder = function() {
    this.arrayNewIndex = Date.now();
    this.root = $('.assay > .upload-new-file');
  }

  CardBuilder.prototype.createCardFor = function(file) {
    // file.arrayNewIndex = this.arrayNewIndex;

    this.root.append(
      $('<div>', { class: 'file-uploaded' })
        .append($('<div>', { class: 'card-container new-file' })
          .append(this.newIndex())
          .append(this.createCardInfoColumn(file))
          .append(this.createCardPictureColumn(file))
          .append(this.createCardRemove(file))
        )
    );
  }

  CardBuilder.prototype.newIndex = function() {
    return $('<input>', { type: 'hidden', name: 'arrayNewIndex', value: this.arrayNewIndex } )
  }

  CardBuilder.prototype.createCardInfoColumn = function(file) {
    var formArrayName = (function(key) {
      return `sample[assay_attachments_attributes][${this.arrayNewIndex}][${key}]`;
    }).bind(this);

    var info = $('<div>', { class: 'info' })
      .append($('<div>', { class: 'row' })
        .append($('<div>', { class: 'col pe-1' })
          .append($('<label>', { for: 'new_sample_assay_attachments_attributes', text: 'Loinc' })))
        .append($('<div>', { class: 'col pe-8' })
          .append(loincSelectorAt(
            $('<input>', {type: 'text', class: 'loinc_input'}),
            $('<input>', {type: 'hidden', name: formArrayName('loinc_code_id')})
          )))
      )
      .append($('<div>', { class: 'row' })
        .append($('<div>', { class: 'col pe-1' })
          .append($('<label>', { for: 'new_sample_assay_attachments_attributes', text: 'Result' })))
        .append($('<div>', { class: 'col pe-8' })
          .append($('<input>', { type: 'text', class: 'result_input', name: formArrayName("result") })))
      )

    if (file) {
      info = info.append($('<div>')
        .append($('<input>', { type: 'hidden', name: formArrayName("filename"), value: file.upload.filename })))
    }

    return info
  }

  CardBuilder.prototype.createCardPictureColumn = function(file) {
    var fileRoot = $('<div>', { class: 'file' })
    var filePreview = $('<div>', { class: 'picture-container assay-file'}).append(this.fileThumbnail(file))

    if (file) {
      filePreview
        .append($('<div>', { class: 'picture-title', title: file.upload.filename })
        .append($('<div>').text(file.upload.filename)))
    } else {
      fileRoot.on('click', function() {
        var card = $(this).parents('.file-uploaded');
        card.addClass('updating');
        $('#dropzonePreview').click();
      });
    }

    return fileRoot.append(filePreview)
  }

  CardBuilder.prototype.createCardRemove = function(file) {
    var removeButton = $('<div>', { class: 'remove' }).append($('<img>', { src: '#{asset_url('ic-cross.png')}', alt: 'Ic cross'}));
    removeButton.on('click', function() {
      if (file) {
        // Dropzone.forElement("#dropzonePreview").removeFile(file);
      }
      $(this).parents('.file-uploaded').remove();
    });
    return removeButton;
  }

  CardBuilder.prototype.fileThumbnail = function(file) {
    return (file)
      ? $('<div>', { id: file.upload.uuid + '-thumbnail', class: 'any-filetype' })
          .append($('<div>', { class: 'icon-document'}))
      : $('<div>', { class: 'any-filetype choose-file' })
          .append($('<div>', { class: 'icon-upload'}))
  }

  /////////////////////////////////////////////////////////////////////////////
  // CardUpdater

  var CardUpdater = function(card) {
    this.card = card;
    this.cardElem = $(card);
    this.arrayNewIndex = this.cardElem.find('input[name="arrayNewIndex"]').val();
  }

  CardUpdater.prototype.updateCardWith = function(file) {
    this.updateCardInfoColumn(file)
    this.updateCardPictureColumn(file)
    this.updateCardRemove(file)
  }

  CardUpdater.prototype.updateCardInfoColumn = function(file) {
    var cardInfo = this.cardElem.find('.info')
    cardInfo
      .find(`div > input[name="sample[assay_attachments_attributes][${this.arrayNewIndex}][filename]"]`)
      .remove()
    cardInfo
      .append($('<div>')
        .append($('<input>', { type: 'hidden', name: `sample[assay_attachments_attributes][${this.arrayNewIndex}][filename]`, value: file.upload.filename } )))
  }

  CardUpdater.prototype.updateCardPictureColumn = function(file) {
    var cardFile = this.cardElem.find('.file')
    cardFile.empty()
    cardFile
      .append(
        $('<div>', { class: 'picture-container assay-file'})
          .append(this.fileThumbnail(file))
          .append($('<div>', { class: 'picture-title', title: file.upload.filename })
          .append($('<div>').text(file.upload.filename)))
      )

    // Card cannot be updated again with another file
    cardFile.off('click');
  }

  CardUpdater.prototype.updateCardRemove = function(file) {
    var cardRemove = this.cardElem.find('.remove')
    cardRemove.on('click', function() {
      if (file) {
        Dropzone.forElement("#dropzonePreview").removeFile(file);
      }
      $(this).parents('.file-uploaded').remove();
    });
  }

  CardUpdater.prototype.fileThumbnail = function(file) {
    return (file)
      ? $('<div>', { id: file.upload.uuid + '-thumbnail', class: 'any-filetype' })
          .append($('<div>', { class: 'icon-document'}))
      : $('<div>', { class: 'any-filetype choose-file' })
          .append($('<div>', { class: 'icon-upload'}))
  }

  /////////////////////////////////////////////////////////////////////////////
  // Loinc Code Selector

  function loincSelectorAt(loincInput, loincInputHidden) {
    loincInput.autocomplete({
      lookup: function (query, done) {
          $.ajax({
            url: '/loinc_codes/search',
            data: { q: query },
            success: function(loincCodes) {
              done({suggestions: loincCodes});
            }
          });
      },
      onSelect: function (suggestion) {
        loincInputHidden.val(suggestion.id)
      }
    });

    return $('<div>').append(loincInput).append(loincInputHidden)[0];
  }
