:javascript
  (function() {
    $(".clear-note > input[type='checkbox']").on('click', function(e) {
      $(this).closest('.note').hide();
    });

    $("#add-note").on('click', function (e) {
      e.preventDefault()

      var newNote = {
        info: "by #{current_user.full_name}",
        description: $('#new-note').val().trim()
      };

      if (newNote.description === "") {
        return;
      }

      // clear input
      $('#new-note').val('');

      var note = $('<div>', { class: 'note'})
        .append($('<div>', { class: 'info' }).text(newNote.info))
        .append($('<div>', { class: 'description' }).text(newNote.description)
          .append($('<input>', {
            type: 'hidden',
            name: `sample[notes_attributes][${Date.now()}][description]`
          }).val(newNote.description)))
        .append($('<div>', { class: 'dashed-line' }));

      $('#notes').append(note);
    });
  })();
