:javascript
  (function() {
    // Click on Add Assays
    $('.upload-picture').on('click', function(e) {
      e.preventDefault();
      var cardIndex = $('.card-container').length + 1
      createCard(cardIndex);
      updateAddAssaysControls();
    });

    updateAddAssaysControls();

    $('#undo-added-assays').on('click', function(e) {
      event.preventDefault();

      removeFilesPreview();

      // toggle buttons
      $('#undo-added-assays').addClass('nodisplay');

      // render Tooltip and Add-assays action
      updateAddAssaysControls();
    });

    // Change the class on the target zone when dragging a file over it
    $(".remove").on('click', function(e) {
      var assayId = e.target.id.split('_').pop()
      var url = $("#remove_assay_attachments_url").val()
      $.ajax({
            method: "POST",
            url: url,
            data:  {assay_id: assayId} ,
            success: function(response) {
              updateAddAssaysControls();
              console.log(response)
            }
          });
      $(this).closest('.file-uploaded').addClass('remove');
      // updateAddAssaysControls();
    });

    $('.loinc_inputs').each(function(index, element){
      var input = $(element).find('.loinc_input');
      var hidden = $(element).find('.loinc_input_hidden');
      $(element).replaceWith(buildLoincCodeSelect({
        input: input,
        hidden: hidden
      }));
    });

    $('.picture-container.picture-required').on('click', function() {
      var fileContainer = $(this).parent().parent()
      var cardIndex = $('.card-container').length - 1
      $(this).parent().remove();
      fileContainer.append(createDummyCardPictureColumn(cardIndex)).append(createCardDummyRemove());
      var dropzoneInput = fileContainer.find('.dropzone')
      var dropzoneOptions = dropzoneConfig(dropzoneInput, cardIndex);
      $('.input-required').removeClass('input-required')
      dropzoneInput.dropzone(dropzoneOptions)
    });

    $('.input-required').on('click', function() {
      $('.input-required').removeClass('input-required')
    });

  })();

  function removeFilesPreview() {
    // remove all new-files preview
    $('.new-file').remove();
    $('#undo-added-assays').addClass('nodisplay');
  }

  function updateAddAssaysControls() {
    var assays = $('.file-uploaded').not('.remove');
    if (assays.length > 0) {
      $('.assay > .upload-new-file > .tooltip').addClass('nodisplay');
      $('#add-assays').removeClass('nodisplay');
    } else {
      $('.assay > .upload-new-file > .tooltip').removeClass('nodisplay');
      $('#add-assays').addClass('nodisplay');
    }
    $('.new-file').length > 0 ? $('#undo-added-assays').removeClass('nodisplay') : $('#undo-added-assays').addClass('nodisplay');

  }

  function createCard(cardIndex) {
    var cardWithDropzone = $('<div>').append(
            $('<div>', { class: 'card-container new-file' })
            .append(createCardInfoColumn(cardIndex))
            .append(createDummyCardPictureColumn(cardIndex))
            .append(createCardDummyRemove())
    )
    $('.assay > .upload-new-file').append(
      $('<div>', { class: 'file-uploaded' }).append(cardWithDropzone)
    );
    var dropzoneInput = cardWithDropzone.find('.dropzone')
    var dropzoneOptions = dropzoneConfig(dropzoneInput, cardIndex)

    dropzoneInput.dropzone(dropzoneOptions);
  }

  function buildLoincCodeSelect(config, cardIndex) {
    var loincInput = (config && config.input) ? config.input : $('<input>', {type: 'text', class: 'loinc_input'});
    var loincInputHidden = (config && config.hidden) ? config.hidden : $('<input>', {type: 'hidden', name: `sample[new_assays_info][${cardIndex}][loinc_code_id]`});

    loincInput.autocomplete({
      lookup: function (query, done) {
          $.ajax({
            url: '/loinc_codes/search',
            data: { q: query },
            success: function(loincCodes) {
              done({suggestions: loincCodes});
            }
          });
      },
      onSelect: function (suggestion) {
        loincInputHidden.val(suggestion.id)
      }
    });

    return $('<div>').append(loincInput).append(loincInputHidden)[0];
  }

  function createCardInfoColumn(cardIndex) {
   return $('<div>', { class: 'info' })
      .append($('<div>', { class: 'row' })
        .append($('<div>', { class: 'col pe-1' })
          .append($('<label>', { for: 'new_sample_assay_attachments_attributes', text: 'Loinc' })))
        .append($('<div>', { class: 'col pe-8' })
          .append(buildLoincCodeSelect(null, cardIndex)))
      )
      .append($('<div>', { class: 'row' })
        .append($('<div>', { class: 'col pe-1' })
          .append($('<label>', { for: 'new_sample_assay_attachments_attributes', text: 'Result' })))
        .append($('<div>', { class: 'col pe-8' })
          .append($('<input>', { type: 'text', class: 'result_input', name: `sample[new_assays_info][${cardIndex}][result]` } )))
      )
  }

  function createDummyCardPictureColumn(cardIndex) {
    return $('<div>', { class: 'file' })
            .append(
              $('<div>', { class: 'picture-container assay-file'})
              .append(fileDummyThumbnail(cardIndex))
            )
  }

  function fileDummyThumbnail(dropzoneIndex) {
      return $('<div>', { class: 'any-filetype dropzone', id:`dropzone-container-${dropzoneIndex}` })
        .append($('<div>', { class: 'icon-document'}))
  }

  function createCardDummyRemove() {
    return $('<div>', { class: 'remove' }).css('width', '34px');
  }

  function dropzoneConfig(dropzoneInput, cardIndex) {
    var url = $("#add_assay_attachments_url").val()
    return {
     url: url,
     uploadMultiple: false,
     maxFilesize: 10,
     previewTemplate: dropzoneInput.html(),
     clickable: "#" + dropzoneInput.attr('id'),
     success: function(file, response){
                var containerParent = dropzoneInput.closest('.file-uploaded');
                var loincInputName = `sample[new_assays_info][${cardIndex}][loinc_code_id]`
                var resultInputName = `sample[new_assays_info][${cardIndex}][result]`
                $(`input[name="${loincInputName}"]`).attr('name', `sample[assay_attachments_attributes][${cardIndex}][loinc_code_id]`)
                $(`input[name="${resultInputName}"]`).attr('name', `sample[assay_attachments_attributes][${cardIndex}][result]`)
                containerParent.append($('<input>', { type: 'hidden', value: response.assay_attachment_id, name: `sample[assay_attachments_attributes][${cardIndex}][id]`, id: `sample_assay_attachments_attributes_${cardIndex}_id` } ))
                containerParent.find('.card-container').removeClass('new-file')
                var removeContainer = containerParent.find('.card-container > .remove')
                removeContainer.detach().appendTo(containerParent.find('.card-container > .file'));
                removeContainer.append($('<img>', { src: $('#ic_cross_url').val(), alt: 'Ic cross'}));
                updateAddAssaysControls()
            },
     addedfile: function(file) {
      dropzoneInput.closest('.card-container');
      dropzoneInput.children().remove()
     },
     thumbnail: function(file, url) {
      if (file.type.startsWith('image/')) {
        var fileImage = $('<img>', { class: 'uploaded', src: url });
        dropzoneInput.removeClass('any-filetype')
        dropzoneInput.append(fileImage);
        dropzoneInput.append($('<div>', { class: 'picture-title', title: file.name }));
        dropzoneInput.append($('<div>').text(file.name));
      }
     }
    };

  }
