:javascript
  (function() {
    dropzoneOptions = {
      paramName: "assay_files",
      autoProcessQueue: true,
      maxThumbnailFilesize: 20,
      parallelUploads: 10,
      url: '/assay_files/create',
      uploadMultiple: true,
      renameFile: function (file) {
        var completeFileName = file.name;
        var sanitizedName = completeFileName.replace(/[^\p{Letter}\p{Number}_.-]/gu, '_');
        var fileName = sanitizedName.split('.')[0];
        return sanitizedName.replace(fileName, fileName + Date.now());
      },
      sendingmultiple: function () {
        $('#btn-save').prop('disabled', true);
      },
      successmultiple: function(files, response) {
        var assay_files = response.assay_files_data || {}
        Object.keys(assay_files).forEach(function(filename) {
          var fileInput = $( ".info input[value='" + filename + "']" )
          var mockIndex = fileInput.closest('.card-container').find('input[name="mockIndex"]').val() || ''
          fileInput.replaceWith($('<input>', {type: 'hidden', name: `sample[assay_attachments_attributes][${mockIndex}][assay_file_id]`, value: assay_files[filename]}))
        })
        $('#btn-save').prop('disabled', false);
      },
      addedfile: function(file) {
        var cards = $('.updating');
        cards.removeClass('updating');

        if(cards.length > 1) {
          //this should not happen, but to be safe we clear it and do nothing
          // TODO: We should fix this because if the user clicks to add
          // a file to a new assay (created initially without a file) and then
          // cancel the file-selection, then the `.updating` class is not removed
          // and breaks the logic for updating a card
          return;
        }

        if (cards.length == 0) {
          createCard(file);
        }

        if(cards.length == 1) {
          var card = cards[0];
          $(card).find('.file').off('click');
          updateCard(card, file);
        }

        updateAddAssaysControls();
      },
      thumbnail: function(file, url) {
        updateThumbnail(file, url)
      }
    }

    $('#dropzonePreview').dropzone(dropzoneOptions);

    $('.picture-container.picture-required').on('click', function() {
      $('.input-required').removeClass('input-required');
      $(this).closest('.file-uploaded').remove();
      $('#dropzonePreview').click()
    });

    $('.input-required').on('click', function() {
      $('.input-required').removeClass('input-required')
    });

    // Click on Add Assays
    $('#add-assays').on('click', function(e) {
      e.preventDefault();
      createCardWithoutFile()
      updateAddAssaysControls()
    });

    // Change the class on the target zone when dragging a file over it
    $(".remove > input[type='checkbox']").on('click', function(e) {
      $(this).closest('.file-uploaded').addClass('remove');
    });

    $('.assay > .upload-new-file').on('scroll', function(e) {
      var scrollDiff = $(this).scrollTop();
      // move dropzone-input into view
      $('.upload-picture').css('top', scrollDiff);
    });

    // initial state for Tooltip and Add-assays action
    updateAddAssaysControls();

    // create loinc inputs
    $('.loinc_inputs').each(function(index, element){
      var input = $(element).find('.loinc_input');
      var hidden = $(element).find('.loinc_input_hidden');
      $(element).replaceWith(buildLoincCodeSelect({
        input: input,
        hidden: hidden
      }));
    });

  })();

  document.addEventListener("dragenter", function( event ) {
    if ( event.target.className == "upload-picture" ) {
      $('.choose-picture').addClass('on');
    }

  }, false);

  document.addEventListener("dragleave", function( event ) {
    if ( event.target.className == "upload-picture" ) {
      $('.choose-picture').removeClass('on');
    }
  }, false);

  function updateAddAssaysControls() {
    var assays = $('.card-container');
    if (assays.length > 0) {
      $('.assay > .upload-new-file > .tooltip').addClass('nodisplay');
    } else {
      $('.assay > .upload-new-file > .tooltip').removeClass('nodisplay');
    }
  }

  function createCardWithoutFile() {
    var mockIndex = Date.now();
    $('.assay > .upload-new-file').append(
      $('<div>', { class: 'file-uploaded' })
        .append($('<div>', { class: 'card-container new-file' })
          .append($('<input>', { type: 'hidden', name: 'mockIndex', value: mockIndex } ))
          .append(createCardInfoColumnWithoutFile(mockIndex))
          .append(createCardPictureColumnWithoutFile())
          .append(createCardRemove())
        )
    );
  }

  function createCard(file) {
    var mockIndex = Date.now();
    $('.assay > .upload-new-file').append(
        $('<div>', { class: 'file-uploaded' })
          .append($('<div>', { class: 'card-container new-file' })
            .append($('<input>', { type: 'hidden', name: 'mockIndex', value: mockIndex } ))
            .append(createCardInfoColumn(file, mockIndex))
            .append(createCardPictureColumn(file))
            .append(createCardRemove(file))
          )
    );
  }

  function updateCard(card, file) {
    updateCardInfoColumn(card, file)
    updateCardPictureColumn(card, file)
    updateCardRemove(card, file)
  }

  function createCardInfoColumnWithoutFile(mockIndex) {
    return $('<div>', { class: 'info' })
      .append($('<div>', { class: 'row' })
        .append($('<div>', { class: 'col pe-1' })
          .append($('<label>', { for: 'new_sample_assay_attachments_attributes', text: 'Loinc' })))
        .append($('<div>', { class: 'col pe-8' })
          .append(buildLoincCodeSelect({mockIndex: mockIndex})))
      )
      .append($('<div>', { class: 'row' })
        .append($('<div>', { class: 'col pe-1' })
          .append($('<label>', { for: 'new_sample_assay_attachments_attributes', text: 'Result' })))
        .append($('<div>', { class: 'col pe-8' })
          .append($('<input>', { type: 'text', class: 'result_input', name: `sample[assay_attachments_attributes][${mockIndex}][result]` } )))
      )
  }


  function createCardInfoColumn(file, mockIndex) {
    return $('<div>', { class: 'info' })
      .append($('<div>', { class: 'row' })
        .append($('<div>', { class: 'col pe-1' })
          .append($('<label>', { for: 'new_sample_assay_attachments_attributes', text: 'Loinc' })))
        .append($('<div>', { class: 'col pe-8' })
          .append(buildLoincCodeSelect({mockIndex: mockIndex})))
      )
      .append($('<div>', { class: 'row' })
        .append($('<div>', { class: 'col pe-1' })
          .append($('<label>', { for: 'new_sample_assay_attachments_attributes', text: 'Result' })))
        .append($('<div>', { class: 'col pe-8' })
          .append($('<input>', { type: 'text', class: 'result_input', name: `sample[assay_attachments_attributes][${mockIndex}][result]` } )))
      )
      .append($('<div>')
        .append($('<input>', { type: 'hidden', name: `sample[assay_attachments_attributes][${mockIndex}][filename]`, value: file.upload.filename } )))
  }

  function updateCardInfoColumn(card, file) {
    var mockIndex = $(card).find('input[name="mockIndex"]').val();
    var cardInfo = $(card).find('.info')
    cardInfo.find(`div > input[name="sample[assay_attachments_attributes][${mockIndex}][filename]"]`).remove()
    cardInfo
      .append($('<div>')
        .append($('<input>', { type: 'hidden', name: `sample[assay_attachments_attributes][${mockIndex}][filename]`, value: file.upload.filename } )))
  }


  function createCardPictureColumn(file) {
    return $('<div>', { class: 'file' })
            .append(
              $('<div>', { class: 'picture-container assay-file'})
              .append(fileThumbnail(file))
              .append($('<div>', { class: 'picture-title', title: file.upload.filename })
              .append($('<div>').text(file.upload.filename)))
            )
  }

  function updateCardPictureColumn(card, file) {
    var cardFile = $(card).find('.file')
    cardFile.empty()
    cardFile
      .append(
        $('<div>', { class: 'picture-container assay-file'})
          .append(fileThumbnail(file))
          .append($('<div>', { class: 'picture-title', title: file.upload.filename })
          .append($('<div>').text(file.upload.filename)))
      )
  }

  function createCardPictureColumnWithoutFile() {
    var fileContainer = $('<div>', { class: 'file' })
    fileContainer.on('click', function() {
      var card = $(this).parents('.file-uploaded');
      card.addClass('updating');
      $('#dropzonePreview').click();
    });

    return fileContainer
            .append(
              $('<div>', { class: 'picture-container assay-file'}).append(
                $('<div>', { class: 'any-filetype choose-file' })
                  .append($('<div>', { class: 'icon-upload'}))
              )
            );
  }

  function createCardRemove(file) {
    var removeButton = $('<div>', { class: 'remove' }).append($('<img>', { src: '#{asset_url('ic-cross.png')}', alt: 'Ic cross'}));
    removeButton.on('click', function() {
      if (file) {
        // Dropzone.forElement("#dropzonePreview").removeFile(file);
      }
      $(this).parents('.file-uploaded').remove();
    });
    return removeButton;
  }

  function updateCardRemove(card, file) {
    var cardRemove = $(card).find('.remove')
    cardRemove.on('click', function() {
      if (file) {
        Dropzone.forElement("#dropzonePreview").removeFile(file);
      }
      $(this).parents('.file-uploaded').remove();
    });
  }

  function fileThumbnail(file) {
    return $('<div>', { id: file.upload.uuid + '-thumbnail', class: 'any-filetype' })
        .append($('<div>', { class: 'icon-document'}));
  }

  function updateThumbnail(file, thumbnailUrl) {
    $("#" + file.upload.uuid + '-thumbnail')
      .replaceWith($('<img>', { class: 'image-thumbnail', src: thumbnailUrl }));
  }

  function buildLoincCodeSelect(config) {
    var mockIndex = config.mockIndex || ''
    var loincInput = (config && config.input) ? config.input : $('<input>', {type: 'text', class: 'loinc_input'});
    var loincInputHidden = (config && config.hidden) ? config.hidden : $('<input>', {type: 'hidden', name: `sample[assay_attachments_attributes][${mockIndex}][loinc_code_id]`});

    loincInput.autocomplete({
      lookup: function (query, done) {
          $.ajax({
            url: '/loinc_codes/search',
            data: { q: query },
            success: function(loincCodes) {
              done({suggestions: loincCodes});
            }
          });
      },
      onSelect: function (suggestion) {
        loincInputHidden.val(suggestion.id)
      }
    });

    return $('<div>').append(loincInput).append(loincInputHidden)[0];
  }
