:javascript
  (function() {
    var specimen_options = $('.specimen_role_options').map(function(){
      return {
        data: `${this.id} - ${this.value}`,
        value: `${this.id.toUpperCase()} - ${this.value}`
      }
    }).toArray();

    // select element with id ending in '_specimen_role'
    // i.e. sample_specimen_role, batch_specimen_role
    $("[id$='_specimen_role']").autocomplete({
      lookup: specimen_options
    });
  })();
