:javascript
  (function() {
    allCheckboxes().on('change', function(e) {
      toggleBulkActions();
      toggleBulkTransfer($(e.target))
    });

    // initial bulk actions state
    toggleBulkActions();

    //opens transfer modal
    $('#bulk_transfer').on('click', function(e) {
      $('#modal_opener').click()
    });

  })();

  function allCheckboxes() {
    return $("input[type='checkbox'][name='" + checkboxesName() + "']");
  }

  function toggleBulkActions() {
    var selectedNone = selectedCheckboxes().length == 0;
    actionsId().forEach(function(id) {
      $("#" + id).prop('disabled', selectedNone);
    });
  }

  function toggleBulkTransfer(checkbox) {
    var row = checkbox.parents('.laboratory-sample-row')
    var isQc = row.children('#sample_is_qc').text() === 'true'
    if (checkbox.is(':checked')){
      if(isQc){
        $("#bulk_transfer").prop('disabled', isQc);
        $('#notification').addClass('table-info')
        $('#notification').show()
      }
    }
    else {
      checkbox.removeClass('table-info')
      $('#notification').hide()
    }
  }


  function selectedCheckboxes() {
    return allCheckboxes().filter(":checked");
  }

  function selectedSamplesIds() {
    var samples = $('.laboratory-sample-row');
    return $.map(samples, function(sample) {
      var checkboxInput = $(sample).find('input[name="sample_ids[]"]');
      if(checkboxInput.is(':checked')) {
        var uuid = $(sample).children('#sample_uuid').text();
        var isolateName = $(sample).children('#sample_isolate_name').text();
        debugger;
        return {uuid, isolateName};
      }
     })
  }
