:javascript
  (function() {
    allCheckboxes().on('change', function(e) {
      toggleBulkActions();
      toggleBulkTransfer()
    });

    // initial bulk actions state
    toggleBulkActions();

    //opens transfer modal
    $('#bulk_transfer').on('click', function(e) {
      $('#modal_opener').click()
    });

  })();

  function allCheckboxes() {
    return $("input[type='checkbox'][name='" + checkboxesName() + "']");
  }

  function toggleBulkActions() {
    var selectedNone = selectedCheckboxes().length == 0;
    actionsId().forEach(function(id) {
      $("#" + id).prop('disabled', selectedNone);
    });
  }

  function toggleBulkTransfer() {
    debugger;
    var areQc = selectedSamplesIds().some((sample) => sample.isQc === true)
    if(areQc){
        $("#bulk_transfer").prop('disabled', true);
        $('#table-notification').css("visibility", "visible");
      }
    else {
      $('#table-notification').css("visibility", "hidden");
    }
  }


  function selectedCheckboxes() {
    return allCheckboxes().filter(":checked");
  }

  function selectedSamplesIds() {
    var samples = $('.laboratory-sample-row');
    return $.map(samples, function(sample) {
      var checkboxInput = $(sample).find('input[name="sample_ids[]"]');
      if(checkboxInput.is(':checked')) {
        var uuid = $(sample).children('#sample_uuid').data("uuid");
        var isolateName = $(sample).children('#sample_isolate_name').text();
        var existsQcReference = $(sample).data().hasqcreference
        var isQc = $(sample).data().isQc
        return {uuid, isolateName, existsQcReference, isQc};
      }
     })
  }
