:javascript
  (function() {
    allCheckboxes().on('change', function(e) {
      toggleBulkActions();
    });

    // initial bulk actions state
    toggleBulkActions();
  })();

  function allCheckboxes() {
    return $("input[type='checkbox'][name='" + checkboxesName() + "']");
  }

  function toggleBulkActions() {
    var selectedNone = selectedCheckboxes().length == 0;
    actionsId().forEach(function(id) {
      $("#" + id).prop('disabled', selectedNone);
    });
  }

  function selectedCheckboxes() {
    return allCheckboxes().filter(":checked");
  }

  function selectedSamplesIds() {
    var samples = $('.laboratory-sample-row')
    return $.map(samples, function(sample) {
      var checkbox = $(sample).children().first()
      var checkboxInput = checkbox.children().first()
      if(checkboxInput.filter(":checked").length == 1) {
        return $(sample).children().eq(1).get(0).textContent;
      }
     })
  }
