:javascript
  function checkboxesName() {
    return "sample_ids[]";
  }

  function actionsId() {
    return [
      "bulk_transfer",
      "bulk_print",
      "bulk_destroy",
      "bulk_transfer"
    ];
  }
