:javascript
  (function() {
    var onloadPicture = function(filename) {
      return function(event) {
        var fileDiv = $('<div>', { class: 'picture-container' })
          .append(
            $('<img>')
              .attr('src', event.target.result)
              .addClass('uploaded')
          )
          .append(
            $('<div>', { class: 'picture-title' })
              .text(filename)
          );

        $('.assay > .upload-new-file')
          .append(fileDiv);
      }
    }

    // Drag Picture to an input file and preview it
    $('#laboratory_sample_test_qc_result_attributes_files').on('change', function(e) {
      var files = e.target.files;

      for(var i = 0; i < files.length; i++) {
        var name = files[i].name;

        var reader = new FileReader();
        reader.onload = onloadPicture(name);
        reader.readAsDataURL(files[i]);
      }
    });

    // Change the class on the target zone when dragging a file over it
    $(".clear-label").on('click', function (e) {
      $(this).closest('.file-uploaded').addClass('remove');
      e.stopPropagation();
    });
    $("#add-note").on('click', function (e) {
      e.preventDefault()
      var noteText = $('#new-note').val();
      var user = "by #{current_user.full_name}";
      var noteTitle = $('<div>').addClass('info').text(user);
      var noteDescription = $('<div>').addClass('description').text($('#new-note').val());
      var noteDashedLine = $('<div>').addClass('dashed-line');
      var note = $('<div>').addClass('note').append(noteTitle).append(noteDescription).append(noteDashedLine);
      $('#notes').append(note).append(
         $('<input>').attr('type', 'hidden').attr('name', 'laboratory_sample[new_notes][]').val(noteText)
      );
    });

    $('.assay > .upload-new-file').on('scroll', function(e) {
      var scrollDiff = $(this).scrollTop();
      // move dropzone-input into view
      $('.upload-picture').css('top', scrollDiff);
    });
  })();

  document.addEventListener("dragenter", function( event ) {
    if ( event.target.className == "upload-picture" ) {
      $('.choose-picture').addClass('on');
    }

  }, false);

  document.addEventListener("dragleave", function( event ) {
    if ( event.target.className == "upload-picture" ) {
      $('.choose-picture').removeClass('on');
    }
  }, false);
