.barcode-card-print
  .barcode-content
    .title
      = @institution.name
    .barcode
      = image_tag barcode_img_data_url(@sample.uuid)
    .code
      Sample ID #{@sample.uuid}
    .logo
      -# = image_tag 'cdx-logo-bw.png'
      = wicked_pdf_image_tag 'cdx-logo-bw.png'
      .label https://cdx.io
