.card
  .card-image
    = image_tag card[:image]

  .card-details
    .card-detail-top
      = card[:top]
      - if card[:actions]
        .card-actions
          = card[:actions]

    - if card[:bottom]
      .card-detail-bottom
        = card[:bottom]
