- field_name = cdx_select[:form] ? ActionView::Helpers::Tags::TextField.new(cdx_select[:form].object_name, cdx_select[:name], cdx_select[:form], {}).send(:tag_name) : cdx_select[:name]
- field_value = cdx_select.fetch(:value) { cdx_select[:form] ? cdx_select[:form].object.send(cdx_select[:name]) : nil }.to_s
= react_component('CdxSelect', name: field_name, items: cdx_select[:items] || [], value: field_value, className: cdx_select[:class], multi: cdx_select[:multi])
