= cdx_table title: empty_data[:title] do |t|
  - t.columns do
    %col{:width => "100%"}
  - t.thead do
    %tr
      %th
  - t.tbody do
    %tr
      %td.empty
        .empty-icon
          = icon_tag empty_data[:icon], class: "xx-large" if empty_data[:icon].present?
        = empty_data[:body]
