.col.px-3.centered
  .box.small.shadow{data: {href: setting_card[:href] }, style: 'height: 370px'}
    %h2
      = setting_card[:title]

    .empty-icon
      = icon_tag setting_card[:icon], class: "xx-large"

    = setting_card[:body]
