---
layout: default
---

<nav id='sidebar'>
	{% include nav.html %}
</nav>
<section id='intro'>
	<h1>Connected Diagnostics Platform</h1>
	<p>DXAPI enables 3rd party applications to consume tests from diagnostic devices in a secure, scalable and interoperable way.</p>

	<p>If you are a Health Applications software developer, DXAPI will allow you to provide your users with information about
	tests, without having to worry about connecting to different devices using different protocols. You use a simple and modern
	API and the platform will take care of the rest.</p>

	<p>If you are a diagnostics device manufacturer, implementing DXAPI will enable your device to provide value added to
	your customers, by integrating into a platform that can be extended with unlimited number of applications. Your device
	reports messages to a secure and private server where your customers will define who has access to what. A number
	of 3rd party application can then be granted access to a subset of those tests and provide new services to patients,
	health workes, clinicians and even your own support staff.</p>

	<p>A few examples of apps that could be created using this platform are:
		<ul>
			<li>Notifying patients that their tests are ready via a voice call or an SMS.</li>
			<li>Notifying community health workers about a anonymous positive TB case on their area.</li>
			<li>Aggregated statistics monitoring at the national level.</li>
		</ul>
	</p>

</section>

<section id='content'>
{% for post in site.posts %}
  <article class='{{ post.type }}'>
    <a name='{{ post.url }}' href='#{{ post.url }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> {{ post.path }}</code> {% endif %}{{ post.title }}</h2></a>
    <section class='body'>
      {{ post.content }}
    </section>
  </article>
{% endfor %}
</section>
