var PatientCard = React.createClass({
  getDefaultProps: function() {
    return {
      canEdit: false
    }
  },

  render: function () {
    var patient = this.props.patient;

    function patientInfo(patient) {
      var string = "";
      if (patient.gender) {
        string += patient.gender;
        if (patient.dob) {
          string += " - "
        }
      }
      if (patient.dob) {
        string += patient.dob
        if( patient.age > 0)
          string += " (" + patient.age + " y/o)";
        else // months only
          string += " (" + patient.age_months + " m/o)";
      }
      return string;
    }

    if (patient == null) {
      return (
        <%= to_jsx(card(image: asset_url('card-unkown.png')) do |c|
          c.top do
            "No patient information"
          end
        end) %>
      );
    } else {
      return (
        <%= to_jsx(card(image: asset_url('card-unkown.png')) do |c|
          c.top do
            raw <<-JSX
              {patient.name || "(Unknown name)"}
              <br/>
              {patientInfo(patient)}
            JSX
          end

          c.bottom do
            raw <<-JSX
              {patient.address}<br/>
              {patient.phone}<br/>
              {(function(){
                if (patient.email) {
                  return <a href={"mailto:" + patient.email}>{patient.email}</a>;
                }
              }.bind(this))()}
            JSX
          end

          c.actions do
            raw <<-JSX
            {(function(){
              if (!this.props.canEdit) return;

              return (
                <a href={"/patients/" + patient.id + "/edit"} title="Edit">
                  <img src="#{asset_url("ic-pencil.png")}"/>
                </a>);
            }.bind(this))()}
            JSX
          end
        end) %>
      );
    }
  }
});
