<!DOCTYPE HTML>
<html>
<head>
  <title>CDP - Playground</title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <style>
  body { margin: 20px; }
  </style>
  <script>
  $(function() {
    $report_form = $("#report_form");
    $create_button = $("#create_button");
    $report_form.submit(function() {
      $create_button.prop("disabled", true);
      $create_button.val("Creating...");
      device = $("#device").val();
      data = $("#data").val();

      $.ajax({
        url: "/api/devices/" + device + "/results",
        type: "POST",
        data: data,
        contentType: "application/json; charset=utf-8",
        success: function(data, textStatus, jqXHR) {
          $create_button.prop("disabled", false);
          $create_button.val("Created!");
          setTimeout(function() { $create_button.val("Create another test result"); }, 1000);
        },
        error: function(jqXHR, textStatus, errorThrown) {
          $create_button.prop("disabled", false);
          $create_button.val("Error: " + errorThrown);
          setTimeout(function() { $create_button.val("Create another test result"); }, 1000);
        }
      });
      return false;
    });

    $query_form = $("#query_form");
    $query_button = $("#query_button");
    $query_form.submit(function() {
      query_string = $("#query_string").val();
      post_body = $("#post_body").val();
      $query_button.prop("disabled", true);
      $query_button.val("Querying...");

      $.ajax({
        url: "/api/results?" + query_string,
        type: "POST",
        data: post_body,
        contentType: "application/json; charset=utf-8",
        success: function(data, textStatus, jqXHR) {
          $query_button.prop("disabled", false);
          $query_button.val("Query");
          data = JSON.parse(data);
          data = JSON.stringify(data, null, 4);
          $('#response_div').show();
          $('#response').text(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
          $query_button.prop("disabled", false);
          $query_button.val("Error: " + errorThrown);
          setTimeout(function() { $query_button.val("Query"); }, 1000);
        }
      });

      return false;
    });

  });
  </script>
</head>
<body>
  <h3>CDP - Playground</h3>
  <div class='row-fluid'>
    <div class='span4' style="border-right:1px solid black">
      <h4>Submit test result</h4>
      <form id="report_form" method="post">
        <div>
          <label for="device">Device</label>
          <select id="device" name="device">
            <%= Enum.map @devices, fn(device) -> %>
              <option value="<%= device.secret_key %>"><%= device.name %></option>
            <% end %>
          </select>
        </div>
        <div>
          <label for="data">Data</label>
          <textarea id="data" name="data" style="width:300px;height:300px;font-family:monospace">{
  "gender": "male",
  "age": 20,
  "assay_name": "GX4001",
  "analytes": [
    {
      "condition": "MTB",
      "result": "positive"
    }
  ]
}</textarea>
        </div>
        <div>
          <input id="create_button" class="btn" name="commit" type="submit" value="Create test result" />
        </div>
      </form>
    </div>
    <div class='span8'>
      <h4>Query results</h4>

      <form id="query_form" method="post">
        <div class='row-fluid'>
          <div class='span5'>
            <label for="query_string">Query string</label>
            <textarea id="query_string" name="query_string" style="width:300px;height:50px;font-family:monospace">age=20</textarea>
          </div>
          <div class='span5'>
            <label for="post_body">Request Body</label>
            <textarea id="post_body" name="post_body" style="width:300px;height:50px;font-family:monospace"></textarea>
          </div>
        </div>
        <div>
          <input id="query_button" class="btn" name="commit" type="submit" value="Query" />
        </div>
      </form>

      <div id="response_div" style="display:none">
        <hr/>
        <h5>Response:</h5>
        <pre id="response" style="height:300px;overflow:auto"></pre>
      </div>
    </div>
  </div>
</body>
</html>
