- content_for(:subheader) do
  .row.center.filters
    .col.pe-10
      .row
        .col
          %h1
            - if @can_create
              = link_to "+", new_device_path, class: 'btn-add side-link fix', title: 'Add Device'
            Devices
      %form#filters-form{action: devices_path, "data-auto-submit" => true}
        %input{type: "hidden", name: "page_size", value: @page_size}
        .row
          .filter
            %label.block Manufacturer
            = cdx_select name: "manufacturer", value: params["manufacturer"] do |select|
              - select.item "", "Show all"
              - select.items @manufacturers, :id, :name
          .filter
            %label.block Model
            = cdx_select name: "device_model", value: params["device_model"] do |select|
              - select.item "", "Show all"
              - select.items @device_models, :id, :name
