- content_for(:subheader) do
  .row.center.filters
    .col.pe-10
      .row
        .col
          %h1
            - if @can_create
              = link_to "+", new_device_path, class: 'btn-add side-link fix', title: 'Add Device'
            Devices
      %form(data-auto-submit)
        .row
          .filter
            %label.block Manufacturer
            = cdx_select name: "manufacturer", value: params["manufacturer"] do |select|
              - select.item "", "(all)"
              - select.items @manufacturers, :id, :name
