- if @device.plain_secret_key
  .key= @device.plain_secret_key
  %p= barcode(@device.plain_secret_key)
  %strong This is the last time you will be able to view this key. Please keep it safe.
- else
  = link_to 'Regenerate Key',
    regenerate_key_device_path(@device, target: '#secret-key'),
    remote: true,
    data: { confirm: "Are you sure?" }
