%table
  %thead
    %tr
      %th
        Devices
        - if @can_create
          = link_to '+', new_institution_device_path(@institution)
  %tbody
    - @devices.each do |device|
      %tr
        %td
          - if @devices_to_edit.include?(device.id)
            = link_to device.name, edit_institution_device_path(@institution, device)
          - else
            - device.name

