%h1 Last 12 months usage

.row
  .col.pe-8
    = react_component('BarChart', data: @tests_histogram, height: 300)
  .col.pe-4
    = react_component('PieChart', data: @tests_by_name, height: 250, label: "Tests Run")
