= render 'device_card'

.row
  .col
    = cdx_tabs do |t|
      - t.tab title: 'Performance', url: performance_device_path(@device)
      - t.tab title: 'Tests', url: tests_device_path(@device)
      - t.tab title: 'Logs', url: device_device_messages_path(@device)
      - t.tab title: 'Setup', url: setup_device_path(@device)
