= render 'device_card'

.row
  .col
    = cdx_tabs do |t|
      - t.tab title: 'Performance', url: performance_device_path(@device)
      - t.tab title: 'Tests'
      - t.tab title: 'Logs'
      - t.tab title: 'Setup', url: setup_device_path(@device)
