.span12
  %h3 Activation Token Generated

  %p
    %strong Token:
    = @token.value

  %p
    This token can be used only once. It will be valid as long as device secret key does not change.
  %p
    %strong This is the last time you will be able to view the token. Please keep it safe

    %hr

    = link_to "Ok, understood, go back", edit_device_path(@device), class: 'btn'
