- content_for(:subheader) do
  .row.center.filters
    .col.pe-10
      .row
        .col
          %h1
            Samples

      %form#filters-form{action: sample_transfers_path, "data-auto-submit" => true}
        %input{type: "hidden", name: "page_size", value: @page_size}
        .row
          .filter
            %label.block{for: "sample_id"} Sample ID
            %input.input-x-large{type: "text", name: "sample_id", id: "sample_id", value: params["sample_id"], placeholder: "Filter by Sample ID"}
          .filter
            %label.block{for: "batch_id"} Batch ID
            %input.input-x-large{type: "text", name: "batch_number", id: "batch_number", value: params["batch_number"], placeholder: "Filter by batch ID"}
          .filter
            %label.block{for: "isolate_name"} Isolate Name
            %input.input-x-large{type: "text", name: "isolate_name", id: "isolate_name", value: params["isolate_name"], placeholder: "Filter by isolate name"}
          .filter
            %label.block{for: "specimen_role"} Specimen Role
            = cdx_select name: "specimen_role", value: params["specimen_role"] do |specimen_role|
              - specimen_role.item "", "All specimen roles"
              - specimen_role.items Sample.specimen_roles.map{|item| {id: item[:id], description: item[:description].truncate(30) }}, :id, :description
