.span12
  %h3 Editing #{@laboratory.name}

  = render 'form'

  - if @can_delete
    %hr

    = icon_link_to :'icf-delete', "Delete this laboratory", [@institution, @laboratory], method: :delete, confirm: "Are you sure you want to delete the laboratory '#{@laboratory.name}'"
