.row-fluid
  .span6
    - simple_list :laboratory, title: 'Laboratories', icon: :folder, create_path: (@can_create && new_institution_laboratory_path(@institution)) do
      - @laboratories.each do |laboratory|
        - if @labs_to_edit.include?(laboratory.id)
          - simple_list_item laboratory.name, edit_institution_laboratory_path(@institution, laboratory)
        - else
          - simple_list_item laboratory.name, nil
