%ul
  - locations.each do |location|
    %li
      %label.checkbox
        %input{type: "checkbox", name: "roles[]", value: "Location-#{location.id}", checked: roles.any? { |r| r.resource_type == "Location" && r.resource_id == location.id }}
        = location.name
      - children = location.children.all
      - if children.present?
        = render "locations", locations: children

