%ul
  - locations.each do |location|
    %li
      %label.checkbox
        %input{type: "checkbox", name: "roles[]", value: "Location-#{location.id}", checked: roles.any? { |r| r.admin_of?(location) }}
        = location.name
      - children = location.children.all
      - if children.present?
        = render "locations", locations: children

