- if @device_model.published?
  - can_unpublish = can_unpublish_device_model?(@device_model)
  .row
    .col
      This device model is published; all institutions in CDX may register devices using it.
      - if can_unpublish
        You may withdraw it as long as there are no devices outside this institution using this device model.
  - if can_unpublish
    .row
      .col
        %button{type: 'submit', class: 'btn-secondary', name: 'unpublish', value: "1", id: 'device-model-publish'}
          Withdraw
-else
  - can_publish = can_publish_device_model?(@device_model)
  .row
    .col
      This device model is not yet published; only devices from its manufacturer can be created using this model.
      - if can_publish
        Publishing it will make it available to all institutions in CDX.
  - if can_publish
    .row
      .col
        %button{type: 'submit', class: 'btn-secondary', name: 'publish', value: "1", id: 'device-model-publish'}  Publish
