.row
  .col
    = link_to "+", new_device_model_path, class: 'btn-add side-link ontop fix', title: 'Add Device Model'
    = cdx_table title: 'Device Models' do |t|
      - t.thead do
        %tr
          %th Name
          %th Version
      - t.tbody do
        - @device_models.each do |device_model|
          %tr{data: {href: try_edit_device_model_path(device_model) }}
            %td= device_model.name
            %td= device_model.current_manifest.try(:version)
