.row
  .col
    %p#notice= notice
    %p
      %strong Version:
      = @device_model.manifest.try(:version)
    %p
      %strong Definition:
      %pre= JSON.pretty_generate(Oj.load(@device_model.manifest.definition)) rescue @device_model.manifest.definition

.row
  .col
    = link_to 'Back', device_models_path, :class => 'btn-primary'
