.row
  - if @institutions.one?
    = f.hidden_field :institution_id
  - else
    - if f.object.new_record?
      .col.pe-2
        = f.label :institution
      .col
        = cdx_select form: f, name: :institution_id, class: 'input-x-large' do |select|
          - select.items @institutions, :id, :name
    - else
      .col.pe-2
        %label Institution
      .col
        .value= f.object.institution
