.row
  - if @institutions.one?
    = f.hidden_field :institution_id
  - else
    .col.pe-2
      - if f.object.new_record?
        = f.label :institution, class: 'control-label'
        = f.collection_select :institution_id, @institutions, :id, :name, {}, class: 'ddown'
      - else
        %label Institution
        %p= f.object.institution
