- select_class ||= 'ddown'
.row
  - if @institutions.one?
    = f.hidden_field :institution_id
  - else
    - if f.object.new_record?
      .col.pe-2
        = f.label :institution
      .col
        = f.collection_select :institution_id, @institutions, :id, :name, {}, class: select_class
    - else
      .col.pe-2
        %label Institution
      .col
        .value= f.object.institution
