.col.px-5
  .email-logo.centered
    = image_tag "cdx-logo-med.png"
  .box.big.centered
    %h2
      Confirm your email and start using our platform
    .button-actions
      %a.btn-primary{:href => "#"}
        Confirm email

  .bottom-links.centered
    .row
      .col
        Link not working? Paste this into your browser:
        %a.block{:href => "#"} http://cdx.org/confirm-email/809832498754

    .row
      .col
        ©2015 Conected Diagnostics
        %br
        %a{:href => "#"} Privacy Policy
        |
        %a{:href => "#"} Terms and conditions
