This is CDP's home.

%div
  - if current_user
    = link_to "Work Groups", work_groups_path
    %br/
    = link_to "Devices", devices_path
    %br/
    = link_to "Subscribers", subscribers_path
  - else
    = link_to "Sign in", guisso_sign_in_path_for(:user)
