.col.px-6
  .email-logo.centered
    = image_tag "cdx-logo-med.png"
  .box.big.centered
    = image_tag "user-invite.png"
    %h2
      Cristopher Gates has invited you to join the team as Fort Grey TB Hospital administrator
    .button-actions
      %a.btn-primary{:href => "#"}
        Create account

  .bottom-links.centered
    .row
      .col
        Link not working? Paste this into your browser:
        %a.block{:href => "#"} http://cdx.org/confirm-email/809832498754

    .row
      .col
        ©2015 Conected Diagnostics
        %br
        %a{:href => "#"} Privacy Policy
        |
        %a{:href => "#"} Terms and conditions
