- content_for(:subheader) do
  .row.center.edit
    .col.pe-10
      .row
        .col
          %h2
            = link_to test_results_path(display_as: "test_order"), class: 'side-link', title: 'Back' do
              = image_tag "arrow-left.png"
            Test Order

= react_component('EncounterForm', encounter: @encounter_as_json, context: @navigation_context.to_hash, possible_assay_results: @possible_assay_results, manual_sample_entry: @encounter.site.allows_manual_entry)
