.row
  .col
    %h1
      = link_to :back, class: 'side-link', title: 'Back' do
        = image_tag "arrow-left.png"
      Encounter

= react_component('EncounterShow', encounter: @encounter_as_json)
