- content_for(:subheader) do
  .row.center.add-new
    .col.pe-10
      .row
        .col
          %h2
            = link_to new_index_encounters_path, class: 'side-link', title: 'Back' do
              = image_tag "arrow-left-white.png"
            New Test Order

= react_component('EncounterNew', context: @navigation_context.to_hash, mode: params[:mode])
