- content_for(:subheader) do
  .row.center.add-new
    .col.pe-10
      .row
        .col
          %h2
            = link_to test_results_path(display_as: "test_order"), class: 'side-link', title: 'Back' do
              = image_tag "arrow-left-white.png"
            New Test Order

= react_component('EncounterNew', context: @navigation_context.to_hash )
