- content_for(:subheader) do
  .row.center.add-new
    .col.pe-10
      .row
        .col
          %h2
            = link_to test_results_path(display_as: "test_order"), class: 'side-link', title: 'Back' do
              = image_tag "arrow-left-white.png"
            New Tests


.row
  .col.pe-2
    %label Options
  .col
    %ul.nav-list
      %li{'data-href' => new_encounter_path}
        New test order
        %br
        %i Select an algorithm in order to submit a test order
      %li{'data-href' => new_encounter_path}
        Already reportered tests
        %br
        %i Organize already reportered tests under a test order
