- content_for(:subheader) do
  .row.center.add-new.newtestoptions
    %h2
      = link_to test_results_path(display_as: "test_order"), class: 'side-link', title: 'Back' do
        = image_tag "arrow-left.png"
      New Tests
    .subheading Please select one of the options below.


.row
  .optionsarea
    %ul.nav-list
      %li{'data-href' => new_encounter_path(mode: 'fresh_tests')}
        %span New test order
        .text-small.muted
          %i Order diagnostic tests against patients and samples. Specify sample type, test type, reason for examination and due date. Add sample IDs or use the sample ID generator.
      %li{'data-href' => new_encounter_path(mode: 'existing_tests')}
        %span Already reported tests
        .text-small.muted
          %i Organise and assign test results to patients. Review results and provide diagnosis. 
