- content_for(:subheader) do
  .row.center.edit
    .col.pe-10
      .row
        .col
          %h2
            = link_to :back, class: 'side-link', title: 'Back' do
              = image_tag "arrow-left.png"
            Encounter

= react_component('EncounterShow', encounter: @encounter_as_json)

- if @can_update
  .row
    .col
      = link_to 'Edit', edit_encounter_path(@encounter), class: 'btn-primary'
