- content_for(:subheader) do
  .row.center.edit
    .col.pe-10
      .row
        .col
          %h2
            = link_to test_results_path(display_as: "test_order"), class: 'side-link', title: 'Back' do
              = image_tag "arrow-left.png"
            Test Order

= react_component('EncounterShow', encounter: @encounter_as_json, can_update: @can_update)

- if @can_update
  .row
    .col
      = link_to 'Edit', edit_encounter_path(@encounter), class: 'btn-primary'
