<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Alert occurred <%= @alert.name %></h1>
    <p>
      Time occurred <%= @alert.created_at %>
    </p>
    <br /><br />
    <p>
      Time occurred <%= @alert.message %>
    </p>

  </body>
</html>
