.row
  .col
    %table.table
      %tr
        %th.tableheader{colspan:100} #{@device.name} - Device Logs
      %tr
        %th Date
        %th Message
        %th
      - @device_logs.each do |log|
        %tr
          %td= format_datetime(log.created_at.in_time_zone(@device.time_zone))
          %td= truncate log.message, length: 100
          %td= link_to "Download", device_device_log_path(@device, log)
