.row
  .col
    %table.table
      %tr
        %th.tableheader{colspan:100} #{@device.name} - Device Logs
      %tr
        %th Date
        %th Message
      - @device_logs.each do |log|
        %tr
          %td= log.created_at.in_time_zone(@device.time_zone).strftime('%Y-%m-%d %H:%M:%S')
          %td= log.message
