.row
  .col
    %table.table
      %tr
        %th.tableheader{colspan:100} #{@device.name} - Device Logs
      %tr
        %th Date
        %th Message
        %th
      - @device_logs.each do |log|
        %tr
          %td= @localization_helper.format_datetime_time_zone(log.created_at, @device.time_zone)
          %td= truncate log.message, length: 100
          %td= link_to "Download", device_device_log_path(@device, log)
