- content_for(:subheader) do
  .row.center.add-new
    .col.pe-10
      .row
        .col
          %h2
            = link_to alerts_path, class: 'side-link', title: 'Back' do
              = image_tag "arrow-left-white.png"
            New Alert

= react_component('AlertCategorySelect', category_types:Alert.category_types, aa:"vvv", url:"/alerts.json", sites:@sites, devices:@devices, anomalie_types:Alert.anomalie_types, aggregation_types:Alert.aggregation_types,aggregation_frequencies:Alert.aggregation_frequencies,channel_types:Alert.channel_types,roles:@roles, users: @users)

%br/
%br/
%hr/
%hr/		
= render 'form'
