- content_for(:leftcolumn) do
  .centered
    = link_to "+", new_manifest_path, class: 'btn-add fixed', title: 'Add Manifest'

.row
  .col
    - cdx_table do
      %tr
        %th.tableheader{colspan:100} Device Models
      %tr
        %th Name
        %th Version
      - @device_models.each do |device_model|
        %tr{data: {href: manifest_path(device_model.current_manifest) }}
          %td= device_model.name
          %td= device_model.current_manifest.version
