.row-fluid
  .span6
    - simple_list :manifest, title: 'Device Models', icon: :folder, create_path: (new_manifest_path) do
      - @device_models.each do |device_model|
        - simple_list_item "#{device_model.name} #{device_model.current_manifest.version}", manifest_path(device_model.current_manifest)
