.row-fluid
  .span12
    %p#notice= notice
    %p
      %strong Version:
      = @manifest.version
    %p
      %strong Definition:
      %pre= JSON.pretty_generate(Oj.load(@manifest.definition)) rescue @manifest.definition

    = link_to 'Back', manifests_path, :class => 'btn'
