- content_for(:subheader) do
  .row.center.add-new
    .col.pe-10
      .row
        .col
          %h2
            = link_to patients_path, class: 'side-link', title: 'Back' do
              = image_tag "arrow-left-white.png"
            New Patient

= render 'form'
