- content_for(:subheader) do
  .row.center.filters
    .col.pe-10
      .row
        .col
          %h1
            - if @can_create
              = link_to "+", new_sample_or_batch_batches_path, class: 'btn-add side-link fix', title: 'Add sample/batch'
            Batches

      %form#filters-form{action: batches_path, "data-auto-submit" => true}
        %input{type: "hidden", name: "page_size", value: @page_size}
        .row
          .filter
            %label.block Sample ID
            %input.input-large{type: "text", name: "sample_id", value: params["sample_id"], placeholder: "Filter by Sample ID"}
          .filter
            %label.block Batch ID
            %input.input-large{type: "text", name: "batch_number", value: params["batch_number"], placeholder: "Filter by batch ID"}
          .filter
            %label.block Isolate Name
            %input.input-large{type: "text", name: "isolate_name", value: params["isolate_name"], placeholder: "Filter by isolate name"}
          .filter-group
            .filter
              %label.block From date
              %input.input-large{type: "date", name: "date_produced_from", value: params["date_produced_from"]}
            .filter
              %label.block To date
              %input.input-large{type: "date", name: "date_produced_to", value: params["date_produced_to"]}
