:javascript
  (function() {
    debugger;
    var specimen_options = [];
    $('.spcimen_role_options').each(function(){
      specimen_options.push({data: `${this.id} - ${this.value}`, value: `${this.id.toUpperCase()} - ${this.value}`})
    })

    $('#batch_specimen_role').autocomplete({
      lookup: specimen_options
    });
  })();
