.items-count
  .title
    #count
      = @batch_form.batch.samples.count.to_s + ' ' + "Samples"

- @batch_form.batch.samples.each do |sample|
  .col.pe-7.batches-samples
    .items-row
      .items-item
        = sample.uuid
      .items-row-actions
        - if sample.is_quality_control?
          .icon-test.icon-gray{title: 'Q - Control specimen'}
        = link_to sample_path(sample.id) do
          .icon-keyboard-arrow-right.icon-gray
