- content_for(:leftcolumn) do
  .centered
    = link_to "+", new_subscriber_path, class: 'btn-add fixed', title: 'Add Subscriber'
.row
  .col
    %table.table
      %tr
        %th.tableheader{colspan:100} Subscribers
      %tr
        %th Name
      - subscribers.each do |subscriber|
        %tr
          %td= link_to subscriber.name, edit_subscriber_path(subscriber)

