.row
  .col
    = link_to "+", new_subscriber_path, class: 'btn-add side-link fix', title: 'Add Subscriber'
    = cdx_table title: 'Subscribers' do |t|
      - t.thead do
        %tr
          %th Name
      - t.tbody do
        - subscribers.each do |subscriber|
          %tr
            %td= link_to subscriber.name, edit_subscriber_path(subscriber)
