.row
  .col
    - unless filters.empty?
      = link_to "+", new_subscriber_path, class: 'btn-add side-link fix', title: 'Add Subscriber'
    = cdx_table title: 'Subscribers' do |t|
      - t.tbody do
        - if filters.empty?
          %tr
            %td
              You first need to create a filter to create a subscriber.
              Go to #{link_to("Tests", test_results_path)}, apply a filter and create one.
        - else
          - t.thead do
            %tr
              %th Name
              - subscribers.each do |subscriber|
                %tr
                  %td= link_to subscriber.name, edit_subscriber_path(subscriber)
