%h3#playground CDP - Playground
.row-fluid
  .span4.r-border
    %h4 Submit event
    %form#report_form(method="post")
      .control-group
        %label.control-label(for="device") Device
        .controls
          %select#device
            = @devices.map do |device|
              %option{ value: device.secret_key}=device.name
      .control-group
        %label.control-label(for="data") Data
        .controls
          %textarea#data
            :preserve
              {
                //"start_time" : "2014-08-05T20:29:19Z",
                "patient_id" : 2,
                "patient_name" : "Lorem Ipsum",
                "patient_telephone_number" : "12345678",
                "patient_zip_code" : "1234",
                //"event_id" : "1",
                "assay_name" : "MTB Assay",
                "age" : 20,
                "system_user" : "jdoe",
                "test_type" : "specimen",
                "gender" : "male",
                //"error_code" : "1234",
                "results": [
                  {
                    "condition": "mtb",
                    "result": "positive"
                  }
                ]
              }

      .results
      .control-group
        %input#create_button.btn(name="commit" type="submit" value="Create event")
  .span8
    %h4 Query results

    %form#query_form(method="post")
      .row-fluid
        .span6
          .control-group
            %label.control-label(for="query_string") Query string
            .controls
              %textarea#query_string age=20
        .span6
          .control-group
            %label.control-label(for="post_body") Request Body
            .controls
              %textarea#post_body
      .row-fluid
        .span12
          .control-group
            %input#query_button.btn(name="commit" type="submit" value="Query")
    #response_div
      %hr
      %h5 Response:
      %pre#response
