:javascript
  result_and_condition = #{result_and_condition().to_json};

%h3#simulator CDP - Simulator

%div{:style => "width: 100%; overflow: hidden;"}

  %div
    %form#report_form(method="post")
      %div
        %label(for="device") Device:
        %select#device(name="device")
          = @devices.map do |device|
            %option{ value: device.secret_key}=device.name

      %div{:style => "margin: 20px; float: left;"}
        = image_tag "genexpert.png"

      %div{:style => "float:left"}
        %div
          %label(for="patient_name") Patient name:
          %input#patient_name(name="patient_name"){:type => "text", :value => "John Doe"}

        %div
          %label(for="patient_telephone_number") Patient telephone number:
          %input#patient_telephone_number(name="patient_telephone_number"){:type => "text", :value => "12345678"}

        %div
          %label(for="condition") Condition:
          %select#condition(name="condition")

        %div
          %label(for="result") Result:
          %select#result(name="result")

        %div
          %input#create_button.btn(name="commit" type="submit" value="Simulate test")








