.barcode-card {
  @include flexbox();
  @include flex-direction(column);

  background: $gray1;
  border-radius: 3px;

  .barcode-content {
    font-family: $roboto;

    background: $white;
    padding: 5px 7px;
    margin: 15px 15px 7px;

    .title {
      font-size: 14px;
      font-weight: bold;
      padding: 0 5px;
    }

    .barcode {
      @include flexbox();
      justify-content: center;
    }

    .code {
      font-size: 12px;
      padding: 0 5px;

      .uuid {
        font-size: 14px;
        margin: 0 0 5px;
        text-align: center;
      }
    }

    .logo {
      @include flexbox();
      align-items: center;

      font-size: 12px;
      padding: 0 5px;
      margin-top: 10px;
      width: 100%;

      .label {
        margin-left: 5px;
      }

      img {
        width: 35px;
        height: auto;
      }
    }
  }

  .actions {
    margin: 0 15px 7px;

    .btn-icon {
      margin: -3px 0 0;
      font-size: 24px;
      background: none !important;
      color: inherit;
    }
  }
}

.barcode-after {
  margin: 7px 15px 0;

  .btn-icon {
    margin: -3px 0 0;
    font-size: 24px;
    background: none !important;
    color: inherit;
  }
}

// Print Barcode style

.barcode-card-print {
  page-break-after: always;
  break-after: page;

  height: 100%;
  width: 100%;

  font-family: 'Roboto Mono', monospace;

  background: $white;
  margin: 1px;
  padding: 3px;

  .barcode {
    margin: auto; // center barcode
    margin-top: 0;
    margin-bottom: 0;
    width: 40%;
  }

  .code {
    font-size: 9px;
    margin: -1px;
    padding: 0 1px;

    .uuid {
      margin: 0px;
      text-align: center;
    }
  }

  .logo {
    @include flexbox();
    flex-direction: row;
    align-items: center;

    font-size: 7px;
    padding: 0 1px;
    margin-top: 1px;
    width: 100%;

    .label {
      margin-left: 3px;
    }

    img {
      width: 15px;
      height: auto;
    }
  }
}
