.barcode-card {
  @include flexbox();
  @include flex-direction(column);

  background: $gray1;
  border-radius: 3px;

  .barcode-content {
    font-family: $roboto;

    background: $white;
    padding: 5px 7px;
    margin: 15px;

    .title {
      font-size: 14px;
      font-weight: bold;
      padding: 0 5px;
    }

    .code {
      font-size: 12px;
      padding: 0 5px;
    }

    .logo {
      font-size: 12px;
      padding: 0 5px;
      margin-top: 10px;
      width: 100%;

      .label {
        margin-left: 5px;
      }
    }
  }

  .actions {
    margin: 0 15px 15px;

    .btn-icon {
      background: none !important;
      color: inherit;
      margin: -3px 0 0;
    }
  }
}

// Print Barcode style

.barcode-card-print {
  @include flexbox();
  @include flex-direction(column);

  height: 100%;
  width: 100%;

  justify-content: center;
  align-items: center;

  // width: 1000px;

  .barcode-content {
    font-family: 'Roboto Mono', monospace;

    background: $white;
    padding: 5px 7px;
    margin: 5px 15px;

    .title {
      font-size: 14px;
      font-weight: bold;
      padding: 0 5px;
    }

    .code {
      font-size: 12px;
      padding: 0 5px;
    }

    .logo {
      @include flexbox();
      align-items: center;

      font-size: 12px;
      padding: 0 5px;
      margin-top: 8px;

      img {
        width: 35px;
        height: auto;
      }

      .label {
        margin-left: 5px;
      }
    }
  }
}
