.batches-samples {
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.5);
  margin-bottom: 1px;
  padding: 3px;
}

.samples-count {
  display: flex;
  align-items: center;
  font-weight: bolder;
  padding-left: 17px;
}

.samples-row {
  padding: 3px 14px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.samples-item {
  display: flex;
  align-items: center;
}

.sample-checkbox {
  width: 3px;
  height: 3px;
}
