.batches-samples {
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.5);
  margin-bottom: 1px;
  padding: 5px;
}

.samples-count {
  font-weight: bolder;
  padding-left: 17px;
  display: flex;
  align-items: center;

  .title {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .actions {
    margin-left: 0px;

    .btn-link {
      margin-left: 0px;
    }

    .btn-icon {
      color: inherit;
    }

    .hidden {
      display: none;
    }
  }
}

.samples-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  width: 100%;
}

.samples-row.mark-destroy {
  text-decoration: line-through;
  opacity: 0.3;

  a {
    pointer-events: none;
  }

  .samples-item input {
    pointer-events: none;
  }

  .samples-item label {
    pointer-events: none;
  }
}

.samples-item {
  display: flex;
  align-items: center;
}

.sample-checkbox {
  width: 3px;
  height: 3px;
}

.add-samples {
  display: flex;
  align-items: center;
  margin: 5px 2px;

  .add-sample-link {
    margin: 0px 7px;
  }
}
