.list-items {
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.5);
  margin-bottom: 1px;
  padding: 5px;
}

.add-file-btn {
  margin-top: 5px;
  padding: 10px;
}

.samples-transfer-modal {
  min-width: 650px;
}

.items-count {
  font-weight: bolder;
  padding-left: 15px;
  display: flex;
  align-items: center;

  .title {
    display: flex;
    align-items: center;
    margin-right: 10px;
    min-height: 40px;
  }

  .actions {
    margin-left: 0px;

    .btn-link {
      margin-left: 0px;
    }

    .btn-icon {
      color: inherit;
      svg { fill: currentcolor; }
    }

    .hidden {
      display: none;
    }
  }
}

.items-cols {
  display: grid;
  grid-template-columns: 40px 1fr 1fr;
  gap: 20px;

  .items-row-actions {
    align-items: flex-start;
    padding: 10px;
  }
  label[for=batch-instructions] {
    line-height: unset;
  }
}

.items-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  width: 100%;

  > .actions {
    text-align: right;
  }

  input {
    width: 60px;
  }
}
.full-input {
  width: 100%;
}
.items-left {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.samples-row-with-remove {
  display: flex;
  align-items: center;
  width: 100%;
}

.samples-row.mark-destroy {
  text-decoration: line-through;
  opacity: 0.3;

  a {
    pointer-events: none;
  }

  .items-item input {
    pointer-events: none;
  }

  .items-item label {
    pointer-events: none;
  }
}

.items-item {
  display: flex;
  align-items: center;
  min-height: 40px;
}
.items-row-actions {
  display: flex;
  align-items: center;
}

.gap-5 {
  display: flex;
  gap: 5px;
}

.transfer-data {
  color: black;
}

.sample-checkbox {
  width: 3px;
  height: 3px;
}

.add-items {
  display: flex;
  align-items: center;
  margin: 5px 2px;

  .add-link {
    margin: 0px 7px;
  }
}

.option-card {
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0;
  padding: 18px;
  .description {
    font-style: italic;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
  }
  .title {
    color: #000000;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  [class^="icon-"], [class*=" icon-"] {
    font-size: 30px;
  }
}

.items-concentration {
  display: flex;
  align-items: center;
  margin-left: auto;
  
  .icon-check {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-size: 100%;
    cursor: pointer;
  }
}

.distractor-description {
  padding-left: 40px;
  color: $gray3;
}
