.box-preview {
  display: grid;
  grid-template-areas:
      "uuid uuid uuid btns"
      "purpose samples time btns";
  grid-template-columns: 90px 90px 160px auto;
  grid-gap: 5px;

  .box__uuid {
    font-weight: bold;
    margin-right: 15px;
    grid-area: uuid;
    padding-top: 8px;

    > a {
      color: inherit;
    }
  }
  .box__btns {
    grid-area: btns;
  }
  .box__created_at {
    grid-area: time;
    // text-align: right;
  }
  .box__purpose {
    grid-area: purpose;
  }
  .box__samples {
    grid-area: samples;
  }
  .btn-link {
    float: right;
    clear: right;
  }
}

.qc-info-message {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
