.card {
  @include flexbox();
  height: 180px;
  border: 1px solid $gray2;

  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.4);

  > div {
    @include flexbox();
  }

  .card-image {
    background-color: $gray3;
    @include flex(0 0 180px);
    overflow: hidden;

    img {
      transform:scale(1.35, 1.35);
    }
  }
  .card-details {
    @include flex-direction(column);
    @include flex(1);
  }

  .card-detail-top {
    @include flex(1);
    padding: 15px 0 10px 15px;
    width: 100%;
    position: relative;

    .card-actions {
      position: absolute;
      right: 10px;
      top: 10px;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }

  .card-detail-bottom {
    @include flex(1);
    padding: 0 0 10px 15px;
    max-height: 80px;
    overflow: hidden;
  }

}
