.chart {
  .bar {
    &.b0 { fill: $red; }
    &.b1 { fill: $blue }
    &.b2 { fill: $gray3; }
  }

  .roc-line{
    fill: none;
    stroke: $red;
    stroke-width: 3px;
  }

  .circle{
    fill: $red;
    opacity: 0.9;
  }

  .errorbar{
    fill: $gray2;
    opacity: 1;
  }

  .axis {
    color: #555555;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    opacity: 0.1;
    shape-rendering: crispEdges;
  }


  .y.axis path,
  .x.axis path,
  .x.axis line {
    stroke:none;
  }

  .total {
    text-anchor: middle;
    fill: #555555;
    font-size: 3.5em;
    font-weight: bold;

    &.legend {
      font-size: 1em;
      text-transform: uppercase;
    }
  }

  .details {
    opacity: 0;
  }

  .legend {
    cursor: default;

    text {
      fill: #555555;
    }
  }

  .legends > span > span {
    padding: 0 1.4em 0 0.4em;
  }
}
