.chart {
  .bar {
    fill: #03a9f4;
  }

  .axis {
    color: #555555;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    opacity: 0.1;
    shape-rendering: crispEdges;
  }


  .y.axis path,
  .x.axis path,
  .x.axis line {
    stroke:none;
  }

  .total {
    text-anchor: middle;
    fill: #555555;
    font-size: 3.5em;
    font-weight: bold;

    &.legend {
      font-size: 1em;
      text-transform: uppercase;
    }
  }

  .legend text {
    fill: #555555;
  }
}
