.warn {
  color: $orange;
  font-style: italic;
}

form {
  // Deprecated: to be generalized
  .error {
    font-size: 12px;
    font-style: italic;
    color: $red;
    margin-top: 5px;
    visibility: hidden;
    display: flex;

    li {
      display: inline-flex;
      align-items: center;
    }
  }
}
