.warn {
  color: $orange;
  font-style: italic;
}

form {
  .error {
    font-size: 12px;
    font-style: italic;
    color: $red;
    margin-top: 5px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    
    li {
      display: inline-flex;
      align-items: center;
    }
  }

  .field_with_errors {
    color: #EB2122;
    border-bottom-color: #EB2122 !important;
  }
    
  .field_with_errors + .error {
    visibility: visible;
  }
}
