// =============================================================================
// FORMS
// =============================================================================


  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"] {
    @include placeholder-style(italic);
    font-family: $sans;
    font-size: 100%;
    border: none;
    border-bottom: 1px solid $gray2;
    padding: 0 5px;
    height: 30px;
    outline: 0 !important;
  }

  textarea {
    @include placeholder-style(italic);
    font-family: $sans;
    font-size: 100%;
  }


  label {
    color: $gray3;

    &.label {
      display: block;
    }
  }

  .dd-container {
    display: inline-block;
    vertical-align: middle;
    width: auto !important;

    .dd-select {
      padding-right: 20px !important;
      width: inherit !important;
    }
  }
  .dd-options {
    width: auto !important;
    min-width: 100%;
    white-space: nowrap;
  }
  .dd-container,
  .dd-option {
    min-height: 40px;
  }
  .dd-select {
    border: none !important;
    background: none !important;

    label {
      color: $black;
    }
  }
  .dd-options {
    label {
      color: $black;
    }
  }
  .input-xx-small {
    width: 20px !important;
  }
  .input-x-small {
    width: 40px;
  }
  .input-small {
    width: 70px;
  }
  .input-medium {
    width: 150px;
  }
  .input-large {
    width: 200px;
  }
  .input-x-large {
    width: 250px;
  }
  .input-xx-large {
    width: 250px;
  }
  .input-block {
    width: 100%;
  }
