// =============================================================================
// GLOBAL
// =============================================================================

h1 {
  font-family: $sanstitle;
  font-size: 220%;
  font-weight: 300;
  color: $gray3;

  a {
    color: $gray4;
  }
}

a {
  color: $blue;
}

.centered {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.playground-error {
  color: $red;
  min-height: 30px;
}

.wrap-text {
  word-wrap: break-word;
}

.underline {
  border-bottom: 1px solid $gray2;
  span {
    border-bottom: 1px solid $white;
    padding-right: 4px;
  }
}

.side-link {
  float: left;
  margin-left: -43px;

  &.btn-add {
    margin-top: 30px;
    margin-left: -73px;
  }
}
