/* =============================================================================
  LAYOUT
============================================================================= */

body {
  font-family: $sans;
  font-size: 90%;
}

.wrapper {
  @include flexbox();
  @include flex-direction(column);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  height: 100%;
}

header {
  @include flex(none);
  -webkit-box-flex: 0;
  background: $gray-dark;
  height: 60px;
  padding: 0 1em;

  .row {
    height: 100%;
    @include flex-flow(row nowrap);
    @include justify-content(center);
    @include align-items(center);

    .logo {
      img {
        max-width: inherit !important;
      }
    }

    nav {
      @include align-self(stretch);
      @include flex-grow(2);
      margin-left: 25px;

      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline;
          padding: 0;
          margin: 0;

          &.active a {
            color: $white;
            height: 60px;
          }
        }
      }

      a {
        color: $white-dark;
        font-family: $sanstitle;
        line-height: 60px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        display: inline-block;
        padding: 0 20px;
      }
    }
  }

}

.user {
  color: $white-dark;
  position: relative;
  outline: 0 !important;

  span {
    cursor: pointer;
  }

  ul {
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    background: $white;
    margin-top: 20px;
    width: 100%;
    padding: 2px;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    transition: visibility 0.2s;

    a {
      border-radius: 3px;
      color: $gray-xdark;
      display: block;
      padding: 10px;
      &:hover {
        background: $white-light;
        color: $black;
      }
    }

  }

  &:focus {
    pointer-events: none;
    ul {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}

.content {
  @include flex(1 0 auto);
  padding: 1.5em 1em;
}

footer {
  @include flex(none);
  border-top: 1px solid $white-light;
  font-size: 90%;
  padding: 0.5em 1em;
}

// Devise ---------------------------------------------------------//


.devise {
    background: $gray1;
  .content {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
  }
}

.devise-box {
  background: $white;
  border-radius: 3px;
  padding: 25px;
  min-width: 440px;

  h1 {
    color: $black;
    margin: 0;
    padding: 0 0 25px 0;

    & + p {
      color: $gray3;
    }
  }

  a {
    color: $blue;
  }
}

.message {
  text-align: center;

  h1 {
    color: $black;

    small {
      font-family: $sans;
      font-size: 50%;
      display: block;
    }
  }
}

.content.row {
  padding: 0;
}

#context_side_bar {
  padding: 0;
  display: none;
}

.show-navigation-context-picker {
  #context_side_bar {
    @include flexbox();
    @include align-self(stretch);
    background-color: $gray5;
    color: $white-dark;

    input, input:focus {
      background: image-url("ic-search.png") no-repeat 10px 10px;
      color: $white-light;
      padding-left: 38px;
      height: 40px;
    }

    a {
      color: $white-dark;
    }

    > div {
      flex: 1;
    }
  }

}
