/* =============================================================================
  RESET
============================================================================= */

*,
*::before,
*::after {
  @include box-sizing(border-box);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: 0;
  &:active,
  &:hover,
  &:focus {
    outline: 0;
  }
}

ul {
  margin: 0;
  padding: 0

}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}




// Select2 styles ---------------------------------------------------------//

.select2-container {

  .select2-choice {
    background: $white;
    height: 30px;
    border: none;
    border-radius: 0;

    .select2-arrow {
      background: none;
      border: none;
    }
  }

  &.select2-container-active .select2-choice,
  &.select2-container-active .select2-choices {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

}

.select2-drop {
  min-width: 250px;

  .select2-search input {
    background: url("select2.png") no-repeat 100% -21px;
    height: 32px !important;
  }

  &.select2-drop-active {
    border: none;
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.4);
  }
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit {
  background: $white;
  font-size: 70%;
  color: $gray3;
}
