.qc-info-message {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.qc-info-checkbox {
  padding: 10px 10px 0px 10px;
}

.samples-list {
  max-height: 400px ;
  overflow: scroll;
}

.gradients {
  position: relative;
  &:before {
    content: '';
    height: 12px;
    width: 100%;
    position: absolute;
    background: radial-gradient(ellipse at top, rgba(0,0,0,0.2) 0%, rgba(0, 0, 0, 0) 75%);
    z-index: 99;
    transition: opacity 0.25s;
  }
  &:after {
    bottom: 12px; // so it's in the scrollable area (not after)
    content: '';
    height: 12px;
    width: 100%;
    position: absolute;
    background: radial-gradient(ellipse at bottom, rgba(0,0,0,0.2) 0%, rgba(0, 0, 0, 0) 75%);
    z-index: 99;
    transition: opacity 0.25s;
  }

  &.top::before {
    opacity: 0;
  }
  &.bottom::after {
    opacity: 0;

  }
}
