.samples-report {
  @include flexbox();
  @include flex-direction(column);
  
  .report-summary-content {
    background: $gray1;
    border-radius: 3px;

    padding: 18px 20px 23px 18px;
  }
  .report-content {
    padding: 18px 10px 18px 30px;
  }
  
  .title {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 15px 0;
  }
  
  .subtitle{
    font-size: 14px;
    color: $gray3;
    text-transform: uppercase;
  }

  .text{
    font-size: 14px;
    margin: 0 0 15px 0;
  }

  .separation{
    margin-top: 35px;
  }
  
}

.report-summary-after {
  padding: 25px 18px;

  .subtitle{
    font-size: 14px;
    color: $gray3;
    text-transform: uppercase;
  }
}

.action {
  padding: 12px 0;
}

.btn-icon {
  margin: -3px 0 0;
  font-size: 24px;
  background: none !important;
  color: $gray3;
}


.confusion-matrix{
  text-align: center;
  width: 100%;

  .confusion-matrix-row{
    display: grid;
    grid-template-columns: 20% 25% 25% 25%;
    grid-column-gap: 5px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

  .confusion-matrix-subtitle{
    font-size: 14px;
    text-transform: uppercase;
    color: $gray3;

    &.rotated{
      transform: rotate(-90deg);
      word-wrap:break-word;
      margin-right: 1em;
    }
  }

  .confusion-matrix-cell{
    border-radius: 3px;
    padding: 10px;

    .number{
      font-size: 36px;
    }
    .legend{
      font-size: 10px;
    }
    &.gray{
      background-color: $gray1;
    }
    &.muted{
      border: 1px solid;
    }
  }

}