// =============================================================================
// SPRITES
// =============================================================================

/*---------------------- Icons 20 x 20 black ------------------------*/

@font-face {
    font-family: 'icomoon';
    src:    font-url('icomoon.eot');
    src:    font-url('icomoon.eot?#iefix') format('embedded-opentype'),
        font-url('icomoon.ttf') format('truetype'),
        font-url('icomoon.woff') format('woff'),
        font-url('icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-size: 20px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: $black;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.icon-gray {
      color: $gray3;
    }
    &.icon-white {
      color: $white;
    }
    &.icon-blue {
      color: $blue;
    }
    &.xx-large {
      font-size: 140px;
    }
}


.icon-alert:before {
    content: "\e900";
}
.icon-algorithm:before {
    content: "\e901";
}
.icon-arrow-down:before {
    content: "\e902";
}
.icon-arrow-left:before {
    content: "\e903";
}
.icon-arrow-right:before {
    content: "\e904";
}
.icon-arrow-up:before {
    content: "\e905";
}
.icon-bell:before {
    content: "\e906";
}
.icon-building:before {
    content: "\e907";
}
.icon-cartridge:before {
    content: "\e908";
}
.icon-checkbox-outline:before {
    content: "\e909";
}
.icon-checkbox-selected:before {
    content: "\e90a";
}
.icon-expand:before {
    content: "\e90b";
}
.icon-collpase:before {
    content: "\e90c";
}
.icon-circle-minus:before {
    content: "\e90d";
}
.icon-circle-plus:before {
    content: "\e90e";
}
.icon-close:before {
    content: "\e90f";
}
.icon-comment:before {
    content: "\e910";
}
.icon-culture:before {
    content: "\e911";
}
.icon-document:before {
    content: "\e912";
}
.icon-download:before {
    content: "\e913";
}
.icon-earth:before {
    content: "\e914";
}
.icon-info-outline:before {
    content: "\e915";
}
.icon-ellipsis:before {
    content: "\e916";
}
.icon-error:before {
    content: "\e917";
}
.icon-ethernet:before {
    content: "\e918";
}
.icon-eye:before {
    content: "\e919";
}
.icon-forward:before {
    content: "\e91a";
}
.icon-help:before {
    content: "\e91b";
}
.icon-horizontal-thumb-outline:before {
    content: "\e91c";
}
.icon-horizontal-thumb-fill:before {
    content: "\e91d";
}
.icon-info:before {
    content: "\e91e";
}
.icon-ink-dropper:before {
    content: "\e91f";
}
.icon-key:before {
    content: "\e920";
}
.icon-keyboard-arrow-down:before {
    content: "\e921";
}
.icon-keyboard-arrow-left:before {
    content: "\e922";
}
.icon-keyboard-arrow-right:before {
    content: "\e923";
}
.icon-keyboard-arrow-up:before {
    content: "\e924";
}
.icon-link:before {
    content: "\e925";
}
.icon-location:before {
    content: "\e926";
}
.icon-lock:before {
    content: "\e927";
}
.icon-mail:before {
    content: "\e928";
}
.icon-map:before {
    content: "\e929";
}
.icon-mask:before {
    content: "\e92a";
}
.icon-microscope:before {
    content: "\e92b";
}
.icon-circle-minus-outline:before {
    content: "\e92c";
}
.icon-circle-plus-outline:before {
    content: "\e92d";
}
.icon-patient:before {
    content: "\e92e";
}
.icon-pencil:before {
    content: "\e92f";
}
.icon-plus:before {
    content: "\e930";
}
.icon-power:before {
    content: "\e931";
}
.icon-print:before {
    content: "\e932";
}
.icon-punchcard:before {
    content: "\e933";
}
.icon-radio-button-outline:before {
    content: "\e934";
}
.icon-radio-button-selected:before {
    content: "\e935";
}
.icon-refresh:before {
    content: "\e936";
}
.icon-search:before {
    content: "\e937";
}
.icon-strip:before {
    content: "\e938";
}
.icon-table:before {
    content: "\e939";
}
.icon-tag:before {
    content: "\e93a";
}
.icon-test-tube:before {
    content: "\e93b";
}
.icon-test:before {
    content: "\e93c";
}
.icon-ascending:before {
    content: "\e93d";
}
.icon-descending:before {
    content: "\e93e";
}
.icon-tick:before {
    content: "\e93f";
}
.icon-time-span:before {
    content: "\e940";
}
.icon-trash:before {
    content: "\e941";
}
.icon-trend:before {
    content: "\e942";
}
.icon-break:before {
    content: "\e943";
}
.icon-update:before {
    content: "\e944";
}
.icon-upload:before {
    content: "\e945";
}
.icon-user:before {
    content: "\e946";
}
.icon-wrap:before {
    content: "\e947";
}
.icon-wrench:before {
    content: "\e948";
}
.icon-outline-alert:before {
    content: "\e949";
}
.icon-outline-algorithm:before {
    content: "\e94a";
}
.icon-outline-category:before {
    content: "\e94b";
}
.icon-outline-device:before {
    content: "\e94c";
}
.icon-outline-email:before {
    content: "\e94d";
}
.icon-outline-female-avatar:before {
    content: "\e94e";
}
.icon-outline-instructions:before {
    content: "\e94f";
}
.icon-outline-lock:before {
    content: "\e950";
}
.icon-outline-male-avatar:before {
    content: "\e951";
}
.icon-outline-patient:before {
    content: "\e952";
}
.icon-outline-picture:before {
    content: "\e953";
}
.icon-outline-report:before {
    content: "\e954";
}
.icon-outline-role:before {
    content: "\e955";
}
.icon-outline-search:before {
    content: "\e956";
}
.icon-outline-sharing-request:before {
    content: "\e957";
}
.icon-outline-site:before {
    content: "\e958";
}
.icon-outline-test:before {
    content: "\e959";
}
.icon-outline-user:before {
    content: "\e95a";
}




// =============================================================================
// DEPRECATED Icons for replacement
// =============================================================================


/*---------------------- Icons 20 x 20 black  ------------------------*/


[class^="icond-"],
[class*=" icond-"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: text-top;
  background-image: image-url($icons-20x20-black);
  background-repeat: no-repeat;
  /*------------ Gray Icons --------------*/
  &.icon-gray {
    opacity: 0.4;
  }
}

.icond-unify           {background-position:    -40px 0px};
.icond-separe          {background-position:    -60px 0px};
.icond-block           {background-position:   -100px 0px};

