// =============================================================================
// SPRITES
// =============================================================================

/*---------------------- Icons 20 x 20 black ------------------------*/


[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: text-top;
  background-image: image-url($icons-20x20-black);
  background-repeat: no-repeat;
  /*------------ Gray Icons --------------*/
  &.icon-gray {
    opacity: 0.4;
  }
}

.icon-add             {background-position:      0px 0px};
.icon-remove          {background-position:    -20px 0px};
.icon-unify           {background-position:    -40px 0px};
.icon-separe          {background-position:    -60px 0px};
.icon-print           {background-position:    -80px 0px};
.icon-block           {background-position:   -100px 0px};
.icon-download        {background-position:   -120px 0px};
.icon-ellipsis        {background-position:   -140px 0px};
.icon-arrow-right     {background-position:   -160px 0px};



/*---------------------- Icons 20 x 20 blue ------------------------*/


[class^="iconb-"],
[class*=" iconb-"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: text-top;
  background-image: image-url($icons-20x20-blue);
  background-repeat: no-repeat;
}

.iconb-upload           {background-position:      0px 0px};
.iconb-add              {background-position:    -20px 0px};


/*---------------------- Icons 20 x 20 white ------------------------*/


[class^="iconw-"],
[class*=" iconw-"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: text-top;
  background-image: image-url($icons-20x20-white);
  background-repeat: no-repeat;
}

.iconw-mail            {background-position:      0px 0px};

/*---------------------- Icons 140 x 140  ------------------------*/


span[class^="ic140-"],
span[class*=" ic140-"] {
  display: inline-block;
  width: 140px;
  height: 140px;
  line-height: 140px;
  vertical-align: text-top;
  background-image: image-url($icons-140x140-black);
  background-repeat: no-repeat;
}

.ic140-device-model             {background-position:        0px 0px};
.ic140-patients                 {background-position:     -140px 0px};
.ic140-tests                    {background-position:     -280px 0px};
.ic140-devices                  {background-position:     -420px 0px};
.ic140-users                    {background-position:     -560px 0px};
.ic140-sites                    {background-position:     -700px 0px};
.ic140-alerts                   {background-position:     -840px 0px};
.ic140-algorithms               {background-position:     -980px 0px};
.ic140-categories               {background-position:    -1120px 0px};
.ic140-sharing-requests         {background-position:    -1260px 0px};
.ic140-picture                  {background-position:    -1400px 0px};
