// =============================================================================
// TABLES
// =============================================================================

  .table {
    width: 100%;
    margin: 15px auto;
    table-layout: fixed;
    white-space: nowrap;

    a {
      color: $gray4;
    }

    .table-title {
      font-size: 120%;
      font-weight: bold;
      color: $black;
      vertical-align: middle;
      display: inline-block;
      margin-right: 10px;
      text-transform:none;
    }

    .table-actions {
      display: inline-block;
      vertical-align: middle;
      width: 100%;

      .align-right{
        margin-left: auto;
      }
      
      .btn-link {
        margin-left: 0px;
      }

      .btn-icon {
        color: inherit;
      }
    }

    th {
      font-weight: 400;
      color: $gray3;
      text-align: left;
      text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 14px 10px;

      a {
        color: inherit;

        &.ordered {
          color: $black;
        }
      }
    }

    td {
      padding: 14px 10px;
      border-bottom: 1px solid $gray1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &.empty {
        padding: 150px;
        text-align: center;

        .empty-icon {
          height: 150px;
        }

        h1 {
          color: $black;
        }
        p {
          margin-top: -5px;
        }
      }

      &.unknown-name {
        color: $gray2;
        font-style: italic;
      }

      >abbr{
        text-decoration: none;
      }
    }

    tr:last-child th {
      border-bottom: 3px solid $black;
    }
    tr:last-child td {
      border-bottom: none;
    }

    .table-info {
      display: flex;
      align-items: center;
    }

    .notification-text {
      font-size: 14px;
      font-family: "Open Sans";
      letter-spacing: 0;
      line-height: 48px;
      margin-left: 8px;
    }
  }
  .separator {
    width: 0.1px;
    height: 35px;
    border-right: 1px solid #000000;
    opacity: 0.1;
    margin: 0px 4px;
  }
  .pagination {
    .btn-link {
      color: $gray4;
      margin: 0;
    }

    a[class^="btn"] {
      color: $black;
      font-size: 20px;
      line-height: 20px;
      font-weight: 300;
      vertical-align: baseline;
    }

    > span {
      padding: 0 18px 0 5px;
    }
  }


*[data-href] {
  cursor: pointer;
  &:hover{
    background:#f3f3f3;
  }
}