.invitation-option-card {
  background-color: #FFFFFF;
  color: red;
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0;
  .description {
    color: #2196F3;
    color: #2196F3;
    font-family: "Titillium Web";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 48px;
  }
}