/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "instedd-bootstrap";

//-------------------- Classes -----------------------
//----------------------------------------------------

.title {
  font-size: 20px;
  padding: 8px 0 14px;
}
pre#response {
  height: 300px;
  overflow: auto;
}



//---------- Playground -----------
//---------------------------------
#response_div {
  display: none;
}
.r-border {
  border-right: 1px solid black;
}
textarea {
  &#query_string,
  &#post_body {
    font-family: monospace;
    width: 300px;
    height: 50px;
  }
  &#data {
    font-family: monospace;
    width: 350px;
    height: 300px;
  }
}

