- content_for(:subheader) do
  .row.center.edit
    .col.pe-10
      .row
        .col
          %h2
            = link_to filters_path(@device), class: 'side-link', title: 'Back' do
              = image_tag "arrow-left.png"
            #{filter.name}

= render 'form'

