- content_for(:leftcolumn) do
  - if @can_create
    .centered
      = link_to "+", new_filter_path, class: 'btn-add fixed', title: 'Add Filter'
.row
  .col
    %table.table
      %tr
        %th.tableheader{colspan:100} Filters
      %tr
        %th Name
      - filters.each do |filter|
        %tr
          %td= link_to filter.name, filter

