= render "filters"
.row
  .col
    = cdx_table do |t|
      - t.columns do
        %col{:width => "50%"}
        %col{:width => "50%"}
      - t.thead do
        %tr
          %th Name
          %th Location
      - t.tbody do
        - @sites.each do |site|
          %tr{data: {href: site_path(site) }}
            %td= site.name
            %td= site.location.try(:name)
