- if @users.empty?
  %span This site has no users yet
- else
  = cdx_table do |t|
    - t.columns do
      %col{:width => "50%"}
      %col{:width => "50%"}
    - t.thead do
      %tr
        %th Name
        %th Last activity
    - t.tbody do
      - @users.each do |user|
        %tr
          %td= user.full_name
          %td= last_activity(user)
