<html>
  <head>
    <title>{% block title %}Greetings!{% endblock %}</title>
  </head>
  <body>
    {% block body %}
      <ul>
        {% if greetings %}
          {% for greeting in greetings %}
            <li>{{ greeting.greeting_text }}
          {% endfor %}
        {% else %}
          <li>No greetings!
        {% endif %}
      </ul>
    <p><a href="{% url action="create" %}">New greeting...</a></p>
    <form method="post" action="{% url action="goodbye" %}">
      Delete:<select name="greeting_id">
        {% for greeting in greetings %}
          <option value="{{ greeting.id }}">{{ greeting.greeting_text }}
        {% endfor %}
      </select>
      <input type="submit">
    </form>
    {% endblock %}
  </body>
</html>
