.row
  .col
    %table.table
      %tr
        %th.tableheader{colspan:100} Locations
      %tr
        %th Name
      - @locations.each do |location|
        %tr
          %td= link_to location.name, locations_path(parent_id: location.id)

