.row-fluid
  .span6
    - simple_list :location, title: 'Locations', icon: :folder, create_path: new_location_path(parent_id: params[:parent_id]) do
      - @locations.each do |location|
        %tr
          %td
            = link_to location.name, locations_path(parent_id: location.id)
            = icon_link_to :'icf-arrow', '', edit_location_path(location), class: 'pull-right'
