- content_for :html_title do
  Connected Diagnostics Platform

- content_for :app_name do
  cdp

- content_for :app_logo do
  /- image_tag "/assets/instedd-bootstrap/header/logos/logo.png"

- content_for :app_version do
  = Cdp::Application.config.version_name

- top_nav_bar do
  - top_nav_bar_item 'Home', root_path
  - if current_user
    - top_nav_bar_item 'Institutions', institutions_path, !@institution_tab.nil?
    - top_nav_bar_item 'Locations', locations_path, @in_locations
    - top_nav_bar_item 'Manifests', manifests_path, (params[:controller] == "manifests")
    - top_nav_bar_item 'Results', test_results_path, (params[:controller] == "test_results")
    - top_nav_bar_item 'Users', users_path, @in_users
  - top_nav_bar_item 'Tour', '#'
  - top_nav_bar_item 'Community', '#'
  - top_nav_bar_item 'Help', '#'

= render template: 'instedd/application'
