!!!
%html
  %head
    %title Connected Diagnostics Platform
    = stylesheet_link_tag wicked_pdf_asset_base64("pdf")
    = wicked_pdf_stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap"
  %body
    = yield
