!!!
%html
  %head
    %title Connected Diagnostics Platform
    = wicked_pdf_stylesheet_link_tag "application", :media => "all"
    = wicked_pdf_stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap"
  %body
    = yield
