.row
  .col
    = link_to "+", new_policy_path, class: 'btn-add side-link fix', title: 'Add Policy'
    = cdx_table title: 'Policies' do |t|
      - t.thead do
        %tr
          %th Name
          %th User
      - t.tbody do
        - @policies.each do |policy|
          %tr
            %td= link_to policy.name, edit_policy_path(policy)
            %td= link_to policy.user.email, edit_policy_path(policy)
